<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-note"></i> Crear Usuario
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="needs-validation">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label class="col-form-label" for="name">First name</label>
                                        <input class="form-control" id="name" type="text" formControlName="name"
                                            placeholder="Nombre" autocomplete="given-name" required autofocus
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors, 'is-valid': f.name.touched && !f.name.errors }" />
                                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                            <div *ngIf="f['name'].errors.required">El nombre es requerido</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label" for="surname">Apellido</label>
                                        <input class="form-control" id="surname" type="text" formControlName="surname"
                                            placeholder="Apellido" autocomplete="family-name" required
                                            [ngClass]="{ 'is-invalid': submitted && f.surname.errors, 'is-valid': f.surname.touched && !f.surname.errors }" />
                                        <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                                            <div *ngIf="f['surname'].errors.required">El apellido es requerido</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label" for="email">Email</label>
                                        <input class="form-control" id="email" type="text" formControlName="email"
                                            placeholder="Email" autocomplete="email" required
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }" />
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors.required">Email is required</div>
                                            <div *ngIf="f['email'].errors.email">No es un correo</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label class="col-form-label" for="email">Rol</label>
                                        <ng-select
                                        class="bootstrap"
                                        placeholder="Seleccione un rol"
                                        [options]="role"
                                        [allowClear]="true"
                                        formControlName="role"
                                        required
                                        [ngClass]="{ 'is-invalid': submitted && f.role.errors, 'is-valid': f.role.touched && !f.role.errors }"></ng-select>
                                        <div *ngIf="submitted &&  f['role'].errors" class="invalid-feedback">
                                            <div *ngIf="userForm.get('role').errors.required">El Rol es requerido</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label" for="phone">Telefono</label>
                                        <input type="text" class="form-control" id="phone"  [textMask]="{mask: phoneMask}" formControlName="phone" placeholder="Telefono" required
                                        [ngClass]="{ 'is-invalid': submitted && f.phone.errors, 'is-valid': f.phone.touched && !f.phone.errors }">
                                        <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                                            <div *ngIf="f['phone'].errors.required">El Telefono es requerido</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label" for="username">Nombre de usuario</label>
                                        <input class="form-control"
                                               id="username"
                                               type="text"
                                               formControlName="username"
                                               placeholder="Nombre de usuario"
                                               autocomplete="username"
                                               required
                                               [ngClass]="{ 'is-invalid': submitted && f.username.errors, 'is-valid': f.username.touched && !f.username.errors }" />
                                        <div *ngIf="submitted && userForm.controls['username'].errors" class="invalid-feedback">
                                          <div *ngIf="f['username'].errors.required">El nombre de usuario es requerido</div>
                                          <div *ngIf="f['username'].errors.minlength">El nombre de usuario debe tener al
                                            menos {{vf.formRules.usernameMin}} caracteres</div>
                                        </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="password">Contraseña</label>
                                        <input class="form-control" id="password" type="password"
                                            formControlName="password" placeholder="Password"
                                            autocomplete="new-password" required
                                            [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }" />
                                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                            <div *ngIf="f['password'].errors.required">La contraseña es requerida</div>
                                            <div *ngIf="f['password'].errors.minlength">La contraseña debe tener al
                                                menos {{vf.formRules.passwordMin}} caracteres</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label" for="confirmPassword">Confirmar contraseña</label>
                                        <input class="form-control" id="confirmPassword" type="password"
                                            formControlName="confirmPassword" placeholder="Confirmar contraseña"
                                            autocomplete="new-password" required
                                            [ngClass]="{ 'is-invalid': submitted && userForm.errors, 'is-valid': f.confirmPassword.touched && !userForm.errors }" />
                                        <div *ngIf="submitted && userForm.errors" class="invalid-feedback">
                                            <div *ngIf="userForm.errors['passwordMismatch']">Las contraseñas deben
                                                coincidir</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success mr-1" type="submit"
                                        [disabled]="!userForm.valid">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>