table {
    width: 100%;
  }
  .custom-content {
    /* Estilos generales del cuadro de diálogo */
    /* Por ejemplo, puedes ajustar el ancho o el margen */
    width: 300px;
    margin: 10px 30px 10px 18px;
    text-align: justify;
  }

  .custom-sweetalert {
    /* Agrega los estilos deseados aquí */
    /* Por ejemplo, puedes ajustar el margen o el tamaño del cuadro de diálogo */
    width: 300px;
    margin: 10px 30px 10px 18px;
    text-align: justify;
  }
  /* margin: 10px 30px 10px 18px;
  text-align: justify; */
  .swal2-html-container {
    text-align: justify;
  }