<div class="card mt-8">
    <div *ngIf="view == 'create' || view == 'update'">
        <div class="card-header">
            <h5 class="modal-title button_header">
                <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
                <p class="title-modal" *ngIf="view == 'update'">{{title}}</p>
                <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>

        <div class="card-body">
            <mat-dialog-content>
                <form *ngIf="view == 'create' || view == 'update'" [formGroup]="formProces" method="POST">

                    <div class="row">
                        <!--{Creacion}-->
                        <div class="col-md-4"  >
                            <mat-form-field class="example-full-width {{conStyle}}">
                                <mat-label>Numero Identificaci&oacute;n</mat-label>
                                <input matInput formControlName="document" type="number" [readonly]="this.conReadOnly" (ngModelChange)="onSelectionChange($event)" required>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width readonly-wrapper" >
                                <mat-label>Nombre(s) y Apellido(s):</mat-label>
                                <mat-select formControlName="idPersonale" required>
                                  <mat-option *ngFor="let idet of ListPersonale" [value]="idet.idPersonale">
                                    {{idet.name}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="example-full-width ">
                                <mat-label>Tipo Comisi&oacute;n:</mat-label>
                                <mat-select formControlName="tipo_comi"  required>
                                  <mat-option *ngFor="let idet of ListTipocomi" [value]="idet.ls_codvalue" >
                                    {{idet.description}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                       
                    </div>

                    <div class="row">
                                        
                        <div class="col-md-4" >
                            <mat-form-field class="example-full-width {{conStyle}}">
                                <mat-label>Fecha Comisi&oacute;n:</mat-label>
                                <input matInput formControlName="fecha_commi" [readonly]="this.conReadOnly" type="date" required>
                            </mat-form-field>
                        </div>    
                        
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width {{conStyle}}">
                                <mat-label>Quincena:</mat-label>
                                <mat-select formControlName="quincena" [readonly]="this.conReadOnly" required>
                                  <mat-option *ngFor="let idet of ListQuincea" [value]="idet.ls_codvalue" >
                                    {{idet.description}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4" >
                            <mat-form-field class="example-full-width {{conStyle}}">
                                <mat-label>Valor:</mat-label>
                                <input matInput formControlName="valor_commi" [readonly]="this.conReadOnly" type="number" required>
                            </mat-form-field>
                        </div>  
 
                    </div>
                  
                </form>

            </mat-dialog-content>
            <div mat-dialog-actions>
                <div class="text-center col-12">
                    <button *ngIf="view == 'update'" mat-button class="btn btn-success"
                        (click)="onSubmitUpdate()">Actualizar</button>

                    <button *ngIf="view == 'create'" mat-button class="btn btn-success"
                        (click)="onSubmi()">Guardar</button>

                    <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</div>


<div *ngIf="view == 'view'">
    <div class="modal-header button_header">
        <h5 class="modal-title">Información Detallada de la Ausencia</h5>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <mat-dialog-content style="min-width: 500px;">

        <div class="row mt-2">
            <div class="col-md-3">
                <dt>Documento de Identificaci&oacute;n:</dt>
                <dd>{{dataAbs.document}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Nombre Completo:</dt>
                <dd>{{dataAbs.name}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Tipo Comisi&oacute;n:</dt>
                <dd>{{dataAbs.tipo_comi}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Fecha Comisi&oacute;n:</dt>
                <dd>{{dataAbs.fecha_commi}}</dd>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-3">
                <dt>Mes/Año:</dt>
                <dd>{{dataAbs.matrizarp_des}}</dd>
            </div>
            <div class="col-md-3">
                <dt>Quincena:</dt>
                <dd>{{dataAbs.quincena}}</dd>
            </div>
            <div class="col-md-3">
                <dt>Valor:</dt>
                <dd>{{dataAbs.valor_commi | currency: 'USD'| lowercase }}</dd>
            </div>
        </div>
      
        <div class="row mt-3">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        Histórico de Procesos:  
                    </div>

                    <table mat-table [dataSource]="historyMon" style="width: 100%;" class="mat-elevation-z8 demo-table">
                        <!-- Position Column -->
                        
                        <ng-container matColumnDef="currentm_user">
                        <th mat-header-cell *matHeaderCellDef class="p-3">Usuario:</th>
                        <td mat-cell *matCellDef="let element" class="p-3">{{element.currentm_user}}</td>
                        </ng-container>

                        <ng-container matColumnDef="type_move">
                            <th mat-header-cell *matHeaderCellDef class="p-3">Acción:</th>
                            <td mat-cell *matCellDef="let element" class="p-3">{{element.type_move}}</td>
                        </ng-container>
                        
                        <ng-container matColumnDef="date_move">
                            <th mat-header-cell *matHeaderCellDef class="p-3">Fecha:</th>
                            <td mat-cell *matCellDef="let element" class="p-3">{{element.date_move | date: 'medium'}}</td>
                        </ng-container>
                                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    
                    </table>
                </div>
            </div>
        </div>

    </mat-dialog-content>
</div>