<div *ngIf="view == 'view'">
    <div class="modal-header">
        <h5 class="modal-title">Información de usuario</h5>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <mat-dialog-content style="min-width: 500px;">
        <div class="row mt-2">
            <!-- <div class="col-md-4">
                <dt>Nombres</dt>
                <dd>{{usuario.name}}</dd>
            </div>

            <div class="col-md-4">
                <dt>Apellidos</dt>
                <dd>{{usuario.surname}}</dd>
            </div> -->
            <div class="col-md-4">
                <dt>Documento</dt>
                <dd>{{usuario.username}}</dd>
            </div>
            <div class="col-md-4">
                <dt>Nombres</dt>
                <dd>{{usuario.na}}</dd>
            </div>
            <div class="col-md-4">
                <dt>Rol de Usuario</dt>
                <dd>{{usuario.role}}</dd>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <dt>Status</dt>
                <dd>{{usuario.stat}}</dd>
            </div>

            <div class="col-md-4">
                <dt>Sesion</dt>
                <dd>{{log}}</dd>
            </div>

            <div class="col-md-4">
                <dt>Tipo Matriz</dt>
                <dd>{{usuario.matrizarp_des}}</dd>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <dt>Campaña</dt>
                <dd>{{usuario.campana_des}}</dd>
            </div>

            <div class="col-md-4">
                <dt>Supervisor</dt>
                <dd>{{usuario.supervisor}}</dd>
            </div>

            <div class="col-md-4"></div>
        </div>

    </mat-dialog-content>
</div>

<div class="card mt-6">
    <div *ngIf="view == 'create' || view == 'update'">
        <div class="card-header">
            <h5 class="modal-title">
                <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
                <p class="title-modal" *ngIf="view == 'update'">{{title}} {{user}} {{ape}}</p>
                <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
                    style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>

        <div class="card-body">
            <mat-dialog-content>
                <form *ngIf="view == 'create' || view == 'update'" [formGroup]="formUsuario">

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Company</mat-label>
                        <input matInput disabled value="Cali Express">
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Numero Identificaci&oacute;n</mat-label>
                                <input matInput formControlName="username" type="number"
                                    (ngModelChange)="onSelectionPerson($event)" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 ContCamp">
                            <mat-form-field appearance="fill">
                                <mat-label>Verificación:</mat-label>
                                <mat-select formControlName="idPersonale" required [type]="hidden">
                                    <mat-option *ngFor="let idet of person" [value]="idet.idPersonale">
                                        {{idet.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col">
                            <input type="hidden" formArrayName="idPersonale">
                        </div> -->
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Rol:</mat-label>
                                <mat-select formControlName="role" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let idet of typeRol" [value]="idet.idRole">
                                        {{idet.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="role.hasError('required')">
                                    Rol is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Status:</mat-label>
                                <mat-select formControlName="status" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let idet of typeStatus" [value]="idet.ls_codvalue">
                                        {{idet.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="status.hasError('required')">
                                    Status is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Tipo de Matriz:</mat-label>
                                <mat-select formControlName="matrizarp" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let idet of typeMatriz" [value]="idet.ls_codvalue">
                                        {{idet.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="matrizarp.hasError('required')">
                                    Matriz is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Tipo de Campaña:</mat-label>
                                <mat-select formControlName="campana" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let idet of typeCampaign" [value]="idet.ls_codvalue">
                                        {{idet.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="campana.hasError('required')">
                                    Campaña is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Sesion:</mat-label>
                                <mat-select formControlName="login" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let idet of login" [value]="idet.sesion">
                                        {{idet.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-4">
                            <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Teléfono</mat-label>
                                <input matInput formControlName="phone" type="number" [(ngModel)]="value3">
                                <button *ngIf="value3" matSuffix mat-icon-button aria-label="Clear" (click)="value3=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div> -->
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="name" autocomplete="off"
                                    oninput="javascript:this.value=this.value.toUpperCase();" readonly>
                                <mat-error *ngIf="name.hasError('required')">
                                    Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Apellido</mat-label>
                                <input matInput formControlName="surname" autocomplete="off"
                                    oninput="javascript:this.value=this.value.toUpperCase();" readonly>
                                <mat-error *ngIf="surname.hasError('required')">
                                    Surname is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Usuario de red</mat-label>
                                <input matInput formControlName="us_red">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Supervisor de Usuario:</mat-label>
                                <mat-select formControlName="supervisor" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let usert of superviso" [value]="usert.idUser">
                                        {{usert.name}} {{usert.surname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                </form>
            </mat-dialog-content>
            <div mat-dialog-actions>
                <div class="text-center col-12">
                    <button *ngIf="view == 'update'" mat-button class="btn btn-success"
                        (click)="onSubmitUpdate()">Actualizar</button>

                    <button *ngIf="view == 'create'" mat-button class="btn btn-success"
                        (click)="onSubmit()">Guardar</button>

                    <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- lider de proceso -->
<!-- <div class="card mt-6" *ngIf="rol == 2 || rol == 3 || rol == 22">
    <div *ngIf="view == 'create' || view == 'update'">
        <div class="card-header">
            <h5 class="modal-title">
                <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
                <p class="title-modal" *ngIf="view == 'update'">{{title}} {{user}} {{ape}}</p>
                <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
                    style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>

        <div class="card-body">
            <mat-dialog-content>
                <form *ngIf="view == 'create' || view == 'update'" [formGroup]="formUsuario">

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Company</mat-label>
                        <input matInput disabled value="Cali Express">
                    </mat-form-field>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Status:</mat-label>
                                <mat-select formControlName="status" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let idet of statusLid" [value]="idet.ls_codvalue">
                                        {{idet.description}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="status.hasError('required')">
                                    Status is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Sesion:</mat-label>
                                <mat-select formControlName="login" [errorStateMatcher]="matcher">
                                    <mat-option *ngFor="let idet of login" [value]="idet.sesion">
                                        {{idet.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                    </div>
                   
                </form>
            </mat-dialog-content>
            <div mat-dialog-actions>
                <div class="text-center col-12">
                    <button *ngIf="view == 'update'" mat-button class="btn btn-success"
                        (click)="onSubmitUpdate()">Actualizar</button>

                    <button *ngIf="view == 'create'" mat-button class="btn btn-success"
                        (click)="onSubmit()">Guardar</button>

                    <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</div> -->