.mat-form-field-infix {
    width: 91vh !important; 
}

.is-title {
    font-size: 20px;
    color: #303030;
    line-height: 1.35 !important;
}

.is-text {
    font-size: 15px;
    color: #303030;
    line-height: 1.35 !important;
}
