<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="">
        <div class="col-12">
          <div class="card-group">
            <div class="card">
              <img src="../../../assets/img/360.jpg" alt="" width="100%" height="100%">
            </div>

            <div class="card">
              <div class="card-body text-center mt-5">
                <form [formGroup]="loginForm">

                  <mat-form-field  class="">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Usuario" formControlName="fuser">
                  </mat-form-field>

                  <mat-form-field  class="">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Contraseña" formControlName="fpass">
                  </mat-form-field>

                  <span *ngIf="viewMessage" class="text-alert">Completa la información correctamente.</span>

                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" (click)="signin()">Ingresar</button>

                  <div class="text-center">
                    <a class="small pr-3" href="#" (click)="changeView('forgotPass')">Olvidaste tu contraseña?</a>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<toaster-container></toaster-container>

