<div class="app-body" [style.background-image]="'url(' + backgroundImageUrl + ')'" class="background-image">
  <main class="main d-flex align-items-center">
    <div class="container">
      <mat-card class="example-card">
        <mat-card-header class="header-contenido">
        
          <img mat-card-image class="img_portada" src="assets/img/brand/login_nuevo2.png" alt="" >

        </mat-card-header>

        <mat-card-content class="contenido">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="number" class="form-control" formControlName="fuser" placeholder="Usuario">
              </div>
              <small id="emailHelp" class="form-text text-muted">Tu usuario es tu número de identificación</small>
          </div>
          <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="fpass" placeholder="Contraseña">
            </div>
        </div>
            <button mat-button class="boton mt-4" (click)="signin()">Ingresar 360°</button>
          
          </form>
        </mat-card-content>
        <mat-card-actions >

        </mat-card-actions>
      </mat-card>
      
    </div>
  </main>
</div>

<toaster-container></toaster-container>