<div class="app-body" [style.background-image]="'url(' + backgroundImageUrl + ')'" class="background-image">
  <main class="main d-flex align-items-center">
    <div class="container">
      <mat-card class="example-card">
        <mat-card-header class="header-contenido">
          <img mat-card-image class="img_portada" src="assets/img/brand/login_nuevo2.png" alt="">
        </mat-card-header>

        <mat-card-content class="contenido">
          <form [formGroup]="loginForm">
            
            <!-- Campo de Usuario -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="number" class="form-control" formControlName="fuser" placeholder="Usuario">
              </div>
              <small id="emailHelp" class="form-text text-muted">
                Tu usuario es tu número de identificación
              </small>
            </div>

            <!-- Campo de Contraseña con Ojo -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input [type]="hidePassword ? 'password' : 'text'" class="form-control" formControlName="fpass" placeholder="Contraseña">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" (click)="togglePasswordVisibility()">
                    <i class="fa" [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- Botón de Ingresar -->
            <button mat-button class="boton mt-4" (click)="signin()" [disabled]="loading">
              <span *ngIf="!loading">Ingresar 360°</span>
              <span *ngIf="loading">
                <mat-spinner diameter="20"></mat-spinner> Cargando...
              </span>
            </button>

            <!-- Botón para solicitar cambio contraseña -->
            <button mat-button class="forget-password-button mt-4" (click)="onClickForgetPassword()">
              ¿Has olvidado tu contraseña?
            </button>

            <!-- Botón para solicitar el cierre de sesión -->
            <button mat-button class="close-session-button mt-4" (click)="onClickCloseSession()">
              ¿Has dejado tu sesión iniciada?
            </button>

          </form>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </div>
  </main>
</div>

<toaster-container></toaster-container>
