<div class="card mt-6">
  <div *ngIf="view == 'create' || view == 'update'">
    <div class="card-header">
      <h5 class="modal-title button_header">
        <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
        <p class="title-modal" *ngIf="view == 'update'">{{title}}</p>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
          style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </h5>
    </div>

    <div class="card-body">
      <mat-dialog-content>
        <mat-accordion class="example-headers-align">
          <form form *ngIf="view == 'training' || view == 'update'" [formGroup]="formTraining">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

              <mat-expansion-panel-header>
                <mat-panel-title>
                  Asignación de Formador &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>
                  Información Detallada
                </mat-panel-description>
                <mat-icon>assignment_ind</mat-icon>

              </mat-expansion-panel-header>

              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Numero Identificaci&oacute;n</mat-label>
                    <input matInput formControlName="document" type="number" (ngModelChange)="onSelectionPerson($event)"
                      required>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width ContCamp">
                    <mat-label>Formador:</mat-label>
                    <mat-select formControlName="idPersonale" required>
                      <mat-option *ngFor="let idet of PersonaleInfo" [value]="idet.idPersonale">
                        {{idet.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput formControlName="fec_ini" type="date" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Dias de Formación:</mat-label>
                      <input matInput formControlName="day_for" type="number" required>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha Final</mat-label>
                    <input matInput formControlName="fec_fin" type="date" value="fec_fin"  required>
                  </mat-form-field>
                </div>
                
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Formación:</mat-label >
                      <mat-select formControlName="tip_for" required>
                        <mat-option *ngFor="let idet of trainingType" [value]="idet.ls_codvalue">
                          {{idet.description}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>
              
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Grupo:</mat-label>
                        <input matInput formControlName="grupo" type="text" required="">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Metodología:</mat-label>
                      <mat-select formControlName="metodologia" required>
                        <mat-option *ngFor="let idet of methodology" [value]="idet.ls_codvalue"> 
                          {{idet.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Estado Formación:</mat-label >
                        <mat-select formControlName="est" required>
                          <mat-option *ngFor="let idet of stateFor" [value]="idet.ls_codvalue">
                            {{idet.description}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                </div>
               
              <mat-action-row>
                <button mat-button class="btn btn-dark" (click)="nextStep()">End</button>
              </mat-action-row>
            </mat-expansion-panel>     
          </form>
        </mat-accordion>
        <div mat-dialog-actions>
          <div class="text-center col-12">
            <button *ngIf="view == 'update'" mat-button class="btn btn-success" [disabled]=" totalFin > 15"
              (click)="onSubmitUpdate()">Actualizar</button>
            <!-- <button *ngIf="view == 'training'" mat-button class="btn btn-success" (click)="onSubmit()">Guardar</button> -->
            <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
          </div>
        </div>
      </mat-dialog-content>

    </div>
  </div>
</div>

