<mat-card>
  <mat-card-header>
    <mat-card-title>Subir Archivo Excel</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <label>Seleccionar archivo Excel</label>
    <input type="file" (change)="onFileSelected($event)"> -->
    <div class="col-md-6">
      <label for="file-upload-2" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Cargar Documento
      </label>
      <input  id="file-upload-2" type="file" (change)="onFileSelected($event)" multiple required/>
      <div *ngFor="let file of selectedFiles">
        <span class="file-name">{{ file.name.slice(0,12)  }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="uploadFile()" class="ml-auto" >Subir Archivo</button>
  </mat-card-actions>
</mat-card>
