<div class="content">
  <div class="card">
    <div class="card-header">
      Cierre Masivo 
    </div>
    <div class="card-body">
      <form [formGroup]="formDownoadIngreso">
        <div class="container">

          <div class="row">
            <div class="col-md-3" >
              <mat-form-field class="example-full-width" >
                  <mat-label>Fecha Inicio:</mat-label>
                  <input matInput formControlName="fi" type="date"  required>
              </mat-form-field>
            </div>  
            <div class="col-md-3" >
              <mat-form-field class="example-full-width" >
                  <mat-label>Fecha Fin:</mat-label>
                  <input matInput formControlName="ff" type="date"  required>
              </mat-form-field>
            </div>  
            <div class="col-md-3 mt-1">
              <button mat-button class="btn btn"
                style="background-color: #0d95c5; margin:'7px';padding:1px;width: 60%; height: 55%; font-size: 15px;
                color: white;"
                (click)="descargarArchivos()">Descargar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="loading" class="loading">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>