<div class="card">
  <div class="card-header">
    Liquidación
</div>
  <!-- <mat-dialog-content> -->

    <!-- <div class="content-table"> -->

    <div class=" mat-elevation-z8">

      <div class="toolbar-table" *ngIf="permissions != null">

          <div class="col-xs-6 col-sm-6 col-md-6 text-right float-right mt-3">

              <div class="btn-group" dropdown>
                  <button class="btn btn-success" *ngIf="permissions.create" (click)="onTriggerSheetClick()"
                      title="Reporte Excel">
                      <i class="fa fa-feed"></i>
                  </button>
              </div>
              <div class="btn-group" dropdown>

                <div let element ></div>
                <button class="btn btn-primary" *ngIf="permissions.create" (click)="option('create')"
                    title="Crear">
                    <i class="fa fa-plus"></i>
                </button>
               

            </div>
             
          </div>

          <div class="container">
              <mat-form-field appearance="standard" style="width: 100%;">
                  <mat-label>Buscar..</mat-label>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cali express" #input>
              </mat-form-field>
          </div>
      </div>

      <div class="section-table first-action">
          <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg"
              *ngIf="contenTable.length > 0">
             

              <ng-container matColumnDef="view">
                  <th mat-header-cell *matHeaderCellDef> Ver </th>
                  <td mat-cell *matCellDef="let element">
                      <button class="btn  btn-ghost-secondary" *ngIf="permissions.view"
                          (click)="option('view',element.hol_id)" title="Ver">
                          <i class="fa fa-eye fa-lg"></i>
                      </button>
                  </td>
              </ng-container>

               <ng-container matColumnDef="document">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Documento</th>
                  <td mat-cell *matCellDef="let element"> {{element.document}} </td>
              </ng-container>

  
             <ng-container matColumnDef="idPersonale">
                <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Nombres y Apellidos</th>
                <td mat-cell *matCellDef="let element"> {{element.name }} </td>
            </ng-container>


              <ng-container matColumnDef="fec_ini">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha Inicio</th>
                  <td mat-cell *matCellDef="let element"> {{element.fec_ini | date}} </td>
              </ng-container>

              <ng-container matColumnDef="fec_fin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha Fin</th>
                <td mat-cell *matCellDef="let element"> {{element.fec_fin | date }} </td>
            </ng-container>

              <ng-container matColumnDef="fec_rei">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Fecha Regreso
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.fec_rei | date}} </td>
              </ng-container>

              <ng-container matColumnDef="day_vac">
                <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> # Dias a disfrutar
                </th>
                <td mat-cell *matCellDef="let element"> {{element.day_vac}} </td>
            </ng-container>

            <ng-container matColumnDef="day_com">
              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> # Dias a compensar
              </th>
              <td mat-cell *matCellDef="let element"> {{element.day_com}} </td>
          </ng-container>

          <ng-container matColumnDef="tot_day">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Total Dias Solicitados
            </th>
            <td mat-cell *matCellDef="let element"> {{element.tot_day}} </td>
        </ng-container>

        <ng-container matColumnDef="day_adv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> # Dias Anticipados
          </th>
          <td mat-cell *matCellDef="let element"> {{element.day_adv}} </td>
      </ng-container>
      
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">  Estado de Solicitud
              </th>
              <td mat-cell *matCellDef="let element"> {{element.sta}} </td>
          </ng-container>
          <ng-container matColumnDef="sta_liq">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">  Estado Liquidación Vacaciones 
            </th>
            <td mat-cell *matCellDef="let element"> {{element.liq}} </td>
        </ng-container>

              <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.sta_liq == '80/1' ">
                      <button class="btn  btn-ghost-secondary" *ngIf="permissions.update"
                          (click)="option('update',element.hol_id)" title="Editar">
                          <i class="fa fa-edit fa-lg"></i>
                      </button>
                        </div>
                      <!-- <button class="btn btn-ghost-danger" *ngIf="permissions.create" (click)="pdf(element.fbid)"
                          title="PDF">
                          <i class="fa fa-file-pdf-o"></i>
                      </button> -->
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[50, 100, 500]" showFirstLastButtons></mat-paginator>

      </div>
      <div *ngIf="contenTable.length == 0">
          <h4 class="no-records">No hay registros...</h4>
      </div>
  </div>
</div>

<div *ngIf="loading" class="loading">
<mat-spinner [diameter]="50"></mat-spinner>
</div>