.mat-badge-content {
    font-weight: 400 !important;
    font-size: 15px !important;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -8px !important;
}

.navbar {
    justify-content: flex-start !important
}

.sep-button {

    margin-left: 30px;
}

:host {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.demo-section + .demo-section {
margin-top: 16px;
}

.btn-success {
    color: #23282c !important;
}

@media (max-width: 991.98px)
{
    .app-header .navbar-brand {
        left: 90%; 
    }

    .mat-dialog-container{
        margin-top: 13%;
        padding: 4px !important;
    }

    .cdk-overlay-pane{
        max-width: 100vw !important; 
    }
}

  .mat-tooltip {
    font-size: 16px; /* Tamaño de fuente deseado */
    max-width: 400px; /* Ancho máximo del tooltip */
    white-space: normal; /* Permitir texto en varias líneas */
    text-align: left; /* Alinear el texto del tooltip a la izquierda */
    padding: 10px; /* Espaciado interno del tooltip */
  }
  .sidebar {
    /* background:   rgb(40, 35, 120); */
    background:  #5650EB;
  }
  .sidebar .nav-link .nav-icon{
    /* color: white; */
    /* color: rgba(175, 170, 170, 0.664); */
    color: rgba(228, 221, 221, 0.664);
    text-shadow: 1px 1px 2px rgba(104, 102, 102, 0.5);
  }
  .sidebar .nav-link.active {
    background-color: #5650EB !important;
  }
  .sidebar-minimized .sidebar .sidebar-minimizer {
    background-color: #5650EB !important;

  }