<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/Icon.png', width: 100, height: 100, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false">

  <button type="button" ng-reflect-breakpoint class="btn-shadow d-inline-flex align-items-center btn btn-light sep-button" (click)="logout()" 
  tooltip="Cerrar sesion" placement="left" title="Cerrar sesion">
  <i class="cui-account-logout icons font-2xl d-block"></i>
</button>


  <button  matBadge="{{this.conteNotifi}}" type="button" (click)="toggleBadgeVisibility()"
     ng-reflect-breakpoint class="btn-shadow d-inline-flex align-items-center btn btn-light sep-button" placement="left">
     <i class="{{this.icoNoti}} icons font-2xl d-block"></i>
  </button>


  
</app-header>

<div class="app-body" (click)="prueba_cli()" >
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" (click)="prueba_cli()"  [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)" >
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"  ></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  
  <main class="main"  >
    <cui-breadcrumb></cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  
  <div class="">
      <span><a href="http://www.caliexpress.co/">CALIEXPRESS SAS</a> &copy; 2021 .</span>

  </div>
  
</app-footer>
<!-- <toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->

