<div class="card mt-6">
  <div *ngIf="view == 'create' || view == 'update'">
    <div class="card-header">
      <h5 class="modal-title button_header">
        <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
        <p class="title-modal" *ngIf="view == 'update'">{{title}}</p>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
          style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </h5>
    </div>
    <div class="card-body">
      <mat-dialog-content>
        <mat-accordion class="example-headers-align">
          <form form *ngIf="view == 'create' || view == 'update'" [formGroup]="formCreate">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Solicitud &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>
                  Información Detallada
                </mat-panel-description>
                <mat-icon>account_circle</mat-icon>
              </mat-expansion-panel-header>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Cédula del trabajador que cometió la falta:</mat-label>
                    <input matInput formControlName="dis_doc" (ngModelChange)="onSelectionChange($event)" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4 ContCamp">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre completo del trabajador que cometió la falta:</mat-label>
                    <mat-select formControlName="dis_idPersonale">
                      <mat-option *ngFor="let idet of PersonaleInfo" [value]="idet.idPersonale">
                        {{idet.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 ContCamp">
                  <mat-form-field class="example-full-width">
                    <mat-label>Cargo del trabajador que cometió la falta:</mat-label>
                    <mat-select formControlName="dis_pos">
                      <mat-option *ngFor="let idet of position" [value]="idet.ls_codvalue">
                        {{idet.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ContCamp">
                  <mat-form-field class="example-full-width ">
                    <mat-label>Ciudad</mat-label>
                    <mat-select formControlName="cityWork" required>
                      <mat-option *ngFor="let idet of city" [value]="idet.idCity">
                        {{idet.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <form [formGroup]="formCase">
                    <mat-form-field class="example-full-width ">
                      <mat-label>Estado Diligencia</mat-label>
                      <mat-select formControlName="dis_est" required>
                        <mat-option *ngFor="let idet of state" [value]="idet.ls_codvalue">
                          {{idet.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <div class="col-md-4">
                  <form [formGroup]="formCase">
                    <mat-form-field class="example-full-width ">
                      <mat-label>Abierto/Cerrado</mat-label>
                      <mat-select formControlName="cas_op_clo" required>
                        <mat-option *ngFor="let idet of ab_cer" [value]="idet.ls_codvalue">
                          {{idet.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
              </div>
              <mat-action-row>
                <button mat-button class="btn btn-dark" (click)="nextStep1()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Descripción de la situación &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
                <mat-icon>chrome_reader_mode</mat-icon>
              </mat-expansion-panel-header>

              <div class="row-12">
                <mat-vertical-stepper [linear]="true" #stepper>
                  <mat-step>
                    <ng-template matStepLabel>Resumen</ng-template>
                    <div style="font: 500 14px/20px Roboto, Helvetica Neue, sans-serif;">

                      <p>Tipo de Falta: {{ getSelectedReasonName() }}</p>
                      <p>Descripción de Falta: {{ formCreate.get('dis_fal_des').value }}</p>
                      <p>Elementos Relevantes: {{ formCreate.get('dis_des_rel').value }}</p>
                      <p>Nivel de Falta: {{ getNivel()}} </p>
                      <p>Documentos de soporte: {{ getSoporte()}} </p>
                      <ul>
                        <li *ngFor="let archivo of selection.file_sp; let i = index;">
                          <a href="{{archivo}}" target="_blank">Download {{i+1}}</a>
                        </li>
                      </ul>
                    </div>
                    <div>
                      <button mat-button matStepperPrevious>Atrás</button>
                      <button mat-button color="primary" (click)="nextStep1()">Finalizar</button>
                    </div>
                  </mat-step>
                </mat-vertical-stepper>
              </div>
              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep1()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Gestión de citación &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
                <mat-icon>chrome_reader_mode</mat-icon>
              </mat-expansion-panel-header>

              <div class="row-12" style="min-width: 1000px;">
                <mat-vertical-stepper [linear]="true" #stepCase>
                  <!-- <mat-step>
                    <ng-template matStepLabel>Motivo</ng-template>
                    <form (ngSubmit)="nextStepCase(0)" [formGroup]="formCase">
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width ">
                            <mat-label>Motivo Inicial</mat-label>
                            <mat-select formControlName="dis_fal" (ngModelChange)="onRadioChange($event)" required>
                              <mat-option *ngFor="let idet of typeFalt" [value]="idet.ls_codvalue" disabled>
                                {{idet.description}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="row mt-2" *ngIf="checkUs">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <mat-label>Escriba su respuesta:</mat-label>
                              <textarea matInput formControlName="dis_oth_fal" [required]="checkUs"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div>
                        <button mat-button color="primary"
                          [disabled]="!formCase.get('dis_fal').valid">Siguiente</button>
                      </div>
                    </form>
                  </mat-step> -->
                  <mat-step>
                    <ng-template matStepLabel>Motivo Citación</ng-template>
                    <form (ngSubmit)="nextStepCase(2)" [formGroup]="formCase">
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width ">
                            <mat-label>Motivo Citación</mat-label>
                            <mat-select formControlName="cas_reasons_falt" (ngModelChange)="onRadioChange($event)"
                              required>
                              <mat-option *ngFor="let idet of typeFalt" [value]="idet.ls_codvalue">
                                {{idet.description}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mt-2" *ngIf="checkUs">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <mat-label>Escriba su respuesta:</mat-label>
                            <textarea matInput formControlName="dis_oth_fal" [required]="checkUs"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <div>
                        <button mat-button color="primary"
                          [disabled]="!formCase.get('cas_reasons_falt').valid">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Descripción</ng-template>
                    <form (ngSubmit)="nextStepCase(1)" [formGroup]="formCase">
                      <div class="row mt-2">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">

                            <textarea matInput formControlName="cas_des" required></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button color="primary"
                          [disabled]="!formCase.get('cas_des').valid">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Modalidad</ng-template>
                    <form (ngSubmit)="nextStepCase(3)" [formGroup]="formCase">
                      <div class="row mt-2">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width ">
                            <mat-label></mat-label>
                            <mat-select formControlName="cas_mod" (ngModelChange)="onTypeMod($event)" required>
                              <mat-option *ngFor="let idet of mod" [value]="idet.ls_codvalue">
                                {{idet.description}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mt-2" *ngIf="checkOption">
                        <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                            <mat-label>Escriba Link:</mat-label>
                            <textarea matInput formControlName="dis_oth_fal" [required]="checkOption"></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mt-4" *ngIf="checkAddress">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Dirección de citación:</mat-label>
                            <mat-select formControlName="cas_address">
                              <mat-option *ngFor="let idet of addressCit" [value]="idet.ls_codvalue"
                                [required]="checkAddress">
                                {{idet.description}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button color="primary" [disabled]="!formCase.get('cas_mod').valid"
                          matStepperNext>Siguiente</button>
                      </div>
                    </form>
                  </mat-step>

                  <mat-step>
                    <ng-template matStepLabel>Fecha y hora Citación</ng-template>
                    <form (ngSubmit)="nextStepCase(4)" [formGroup]="formCitation">
                      <div class="row mt-2">

                        <div class="col-md-4">
                          <mat-form-field appearance="fill">
                            <mat-label>Fecha</mat-label>
                            <input matInput formControlName="cit_fec_hor" value="cit_fec_hor" type="datetime-local"
                              required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button color="primary"
                          [disabled]="!formCitation.get('cit_fec_hor').valid">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Resumen</ng-template>
                    <div style="font: 500 14px/20px Roboto, Helvetica Neue, sans-serif;">

                      <p>Motivo seleccionado: {{ getSelectedReasonName() }}</p>
                      <p>Descripción: {{ formCase.get('cas_des').value }}</p>
                      <p>Conclusion: {{ getSelectedConclusion() }}</p>
                      <p>Modalidad: {{ getSelectedModalityName() }}</p>
                      <p>Fecha Citación: {{ formCitation.get('cit_fec_hor').value | date: 'medium'}} </p>
                    </div>
                  </mat-step>
                </mat-vertical-stepper>
              </div>
              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep1()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle *ngIf="checkCita">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Citación &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
                <mat-icon>chrome_reader_mode</mat-icon>
              </mat-expansion-panel-header>
              <mat-dialog-content>
                <div class="card border-secondary mt-4">
                  <div class="card-header" style="background-color: #c9c9c9;">
                    Citación Procesos Disciplinarios

                  </div>
                  <div class="card-body">
                    <div class="toolbar-table" *ngIf="permissions != null">

                      <!-- <div class="col-xs-6 col-sm-6 col-md-6 text-right float-right mt-3">
                        <div class="btn-group" dropdown>

                          <div let element></div>
                          <button class="btn btn-primary" *ngIf="permissions.update"
                            (click)="option('createCit',citTable.cit_id)" title="Crear">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div> -->
                      <!-- <mat-form-field appearance="standard">
                        <mat-label>Buscar...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
                      </mat-form-field> -->
                    </div>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg"
                        *ngIf="generateTableCitation.length > 0">
                        <ng-container matColumnDef="viewCit">
                          <th mat-header-cell *matHeaderCellDef> Ver </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="btn  btn-ghost-secondary" *ngIf="permissions.view"
                              (click)="option('view',row.cit_id)" title="Ver">
                              <i class="fa fa-eye fa-lg"></i>
                            </button>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="cantidadTexto">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">citación</th>
                          <!-- <td mat-cell *matCellDef="let row">{{row.cantidadTexto}}</td> -->
                          <td mat-cell *matCellDef="let row">
                            <div class="mt-1"
                              [ngStyle]="{'backgroundColor': colorState(row.cantidadTexto),'text-align':'center','margin':'2px','padding':'5px','border-radius':'50px','width':'70%','height':'5','font-weight':'500','color':'white'}">
                              {{row.cantidadTexto}}
                            </div>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="cit_fec_hor">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha y Hora de
                            Citación
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.cit_fec_hor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="idPersonale">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Nombre y Apellidos
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.name | titlecase}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Motivo de proceso
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cit_fec_elab">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha de elaboración
                          </th>
                          <td mat-cell *matCellDef="let row">
                            {{(!row.cit_fec_elab)?getEstado(row.cit_estado,row.estado):row.cit_fec_elab}} </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="cit_con">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Nombre Completo </th>
                          <td mat-cell *matCellDef="let row"> {{row.cit_con}} </td>
                        </ng-container> -->

                        <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef> Acciones </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="btn btn-ghost-primary" *ngIf="permissions.update"
                              (click)="option('updateCit',row.cit_id)" title="Editar">
                              <i class="fa fa-edit fa-lg"></i>
                              <!-- <i class="fa fa-edit fa-lg"></i> -->
                            </button>
                            <button class="btn btn-ghost-success" *ngIf="permissions.update"
                              (click)="option('createApla',row.cit_id,row.idPersonale,row.dis_id)"
                              title="Crear Aplazamiento">
                              <i class="fa fa-plus-circle"></i>
                              <!-- <i class="fa fa-edit fa-lg"></i> -->
                            </button>
                            <button class="btn btn-ghost-warning" *ngIf="permissions.update"
                              (click)="option('createAcla',row.cit_id,row.idPersonale,row.dis_id)"
                              title="Crear aclaracion">
                              <i class="fa fa-handshake-o"></i>
                              <!-- <i class="fa fa-edit fa-lg"></i> -->
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                      </table>

                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                    </div>
                  </div>
                </div>
              </mat-dialog-content>
              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep1()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle *ngIf="checkAp">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aplazamiento &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
                <mat-icon>chrome_reader_mode</mat-icon>
              </mat-expansion-panel-header>
              <mat-dialog-content>
                <div class="card border-secondary mt-4">
                  <div class="card-header" style="background-color: #c9c9c9;">
                    Aplazamiento

                  </div>
                  <div class="card-body">
                    <div class="toolbar-table" *ngIf="permissions != null">

                      <!-- <div class="col-xs-6 col-sm-6 col-md-6 text-right float-right mt-3">
                        <div class="btn-group" dropdown>

                          <div let element></div>
                          <button class="btn btn-primary" *ngIf="permissions.update"
                            (click)="option('createCit',citTable.cit_id)" title="Crear">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div> -->
                      <!-- <mat-form-field appearance="standard">
                        <mat-label>Buscar...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
                      </mat-form-field> -->
                    </div>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSourcePost" matSort class="table-large table-responsive-lg"
                        *ngIf="tablePostponement.length > 0">
                        <ng-container matColumnDef="viewCit">
                          <th mat-header-cell *matHeaderCellDef> Ver </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="btn  btn-ghost-secondary" *ngIf="permissions.view"
                              (click)="option('view',row.cla_id)" title="Ver">
                              <i class="fa fa-eye fa-lg"></i>
                            </button>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="cantidadAcla">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Aclaraciones</th>
                          <!-- <td mat-cell *matCellDef="let row">{{row.cantidadAcla}}</td> -->
                          <td mat-cell *matCellDef="let row">
                            <div class="mt-1"
                              [ngStyle]="{'backgroundColor': colorState(row.cantidadAcla),'text-align':'center','margin':'2px','padding':'5px','border-radius':'50px','width':'90%','height':'5','font-weight':'500','color':'white'}">
                              {{row.cantidadAcla}}
                            </div>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="pos_fec_ela">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha y Hora a
                            Referenciar

                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.pos_fec_ela}} </td>
                        </ng-container>

                        <ng-container matColumnDef="idPersonale">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Nombre y Apellidos
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.name | titlecase}} </td>
                        </ng-container>

                        <ng-container matColumnDef="pos_apl">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha de elaboración
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.pos_apl}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cla_description">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Descripcion </th>
                          <td mat-cell *matCellDef="let row"> {{row.cla_description}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef> Acciones </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="btn btn-ghost-primary" *ngIf="permissions.update"
                              (click)="option('updateApla',row.pos_id)" title="update">
                              <i class="fa fa-edit fa-lg"></i>
                              <!-- <i class="fa fa-edit fa-lg"></i> -->
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPost"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPost;"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                      </table>

                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                    </div>
                  </div>
                </div>
              </mat-dialog-content>

              <!-- <div class="row-12" style="min-width: 1000px;">
                <mat-vertical-stepper [linear]="true" #stepper>


                  <mat-step>
                    <ng-template matStepLabel>Fecha Elaboración Aplazamiento</ng-template>
                    <form (ngSubmit)="nextStep(3)" [formGroup]="formCreate">
                      <div class="row mt-2">

                        <div class="col-md-4">
                          <mat-form-field appearance="fill">
                            <mat-label>Fecha</mat-label>
                            <input matInput formControlName="cas_fec_recep" value="cas_fec_recep" type="date" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button color="primary"
                          [disabled]="!formCreate.get('cas_fec_recep').valid">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Fecha y hora de Aplazamiento</ng-template>
                    <form (ngSubmit)="nextStep(3)" [formGroup]="formCreate">
                      <div class="row mt-2">

                        <div class="col-md-4">
                          <mat-form-field appearance="fill">
                            <mat-label>Fecha</mat-label>
                            <input matInput formControlName="cas_fec_recep" value="cas_fec_recep" type="date" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button color="primary"
                          [disabled]="!formCreate.get('cas_fec_recep').valid">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Conclusión Aplazamiento</ng-template>
                    <form (ngSubmit)="nextStepConclu(2)" [formGroup]="formCreate">
                      <div class="row">

                        <div class="col-md-4">
                          <mat-form-field class="example-full-width ">
                            <mat-label></mat-label>
                            <mat-select formControlName="cas_con_fin" (ngModelChange)="onRadioChange($event)" required>
                              <mat-option *ngFor="let idet of conclu_fin" [value]="idet.ls_codvalue">
                                {{idet.description}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button color="primary"
                          [disabled]="!formCreate.get('cas_con_fin').valid">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Fecha de conclusion Aplazamiento</ng-template>
                    <form (ngSubmit)="nextStep(3)" [formGroup]="formCreate">
                      <div class="row mt-2">

                        <div class="col-md-4">
                          <mat-form-field appearance="fill">
                            <mat-label>Fecha</mat-label>
                            <input matInput formControlName="cas_fec_recep" value="cas_fec_recep" type="date" required>
                          </mat-form-field>
                        </div>
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button color="primary"
                          [disabled]="!formCreate.get('cas_fec_recep').valid">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Resumen</ng-template>
                    <div style="font: 500 14px/20px Roboto, Helvetica Neue, sans-serif;">
                     
                    </div>
                    
                  </mat-step>
                </mat-vertical-stepper>
              </div> -->
              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep1()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle *ngIf="checkAcla">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aclaración &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
                <mat-icon>chrome_reader_mode</mat-icon>
              </mat-expansion-panel-header>

              <mat-dialog-content>
                <div class="card border-secondary mt-4">
                  <div class="card-header" style="background-color: #c9c9c9;">
                    Aclaración

                  </div>
                  <div class="card-body">
                    <div class="toolbar-table" *ngIf="permissions != null">

                      <!-- <div class="col-xs-6 col-sm-6 col-md-6 text-right float-right mt-3">
                        <div class="btn-group" dropdown>

                          <div let element></div>
                          <button class="btn btn-primary" *ngIf="permissions.update"
                            (click)="option('createCit',citTable.cit_id)" title="Crear">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div> -->
                      <!-- <mat-form-field appearance="standard">
                        <mat-label>Buscar...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
                      </mat-form-field> -->
                    </div>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSourceCli" matSort class="table-large table-responsive-lg"
                        *ngIf="tableClarification.length > 0">
                        <ng-container matColumnDef="viewCit">
                          <th mat-header-cell *matHeaderCellDef> Ver </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="btn  btn-ghost-secondary" *ngIf="permissions.view"
                              (click)="option('view',row.cla_id)" title="Ver">
                              <i class="fa fa-eye fa-lg"></i>
                            </button>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="cantidadAcla">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Aclaraciones</th>
                          <!-- <td mat-cell *matCellDef="let row">{{row.cantidadAcla}}</td> -->
                          <td mat-cell *matCellDef="let row">
                            <div class="mt-1"
                              [ngStyle]="{'backgroundColor': colorState(row.cantidadAcla),'text-align':'center','margin':'2px','padding':'5px','border-radius':'50px','width':'90%','height':'5','font-weight':'500','color':'white'}">
                              {{row.cantidadAcla}}
                            </div>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha_cita_anterior">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha primera citación
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.fecha_cita_anterior}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cla_fec_ref">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha y Hora
                            Aclaración
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.cla_fec_ref}} </td>
                        </ng-container>

                        <ng-container matColumnDef="idPersonale">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Nombre y Apellidos
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cla_fec_pres">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha de elaboración
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.cla_fec_pres}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Descripcion de motivo
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef> Acciones </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="btn btn-ghost-primary" *ngIf="permissions.update"
                              (click)="option('updateAcla',row.cla_id)" title="aclaracion">
                              <i class="fa fa-edit fa-lg"></i>
                              <!-- <i class="fa fa-edit fa-lg"></i> -->
                            </button>
                            <button class="btn btn-ghost-success" *ngIf="permissions.update"
                              (click)="option('createCit',row.cit_id)" title="crear nueva citación">
                              <i class="fa fa-plus-circle"></i>
                              <!-- <i class="fa fa-edit fa-lg"></i> -->
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCla"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCla;"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                      </table>

                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                    </div>
                  </div>
                </div>
              </mat-dialog-content>
              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep1()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle *ngIf="checkConc">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Conclusiones &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
                <mat-icon>chrome_reader_mode</mat-icon>
              </mat-expansion-panel-header>
              <mat-dialog-content>
                <div class="card border-secondary mt-4">
                  <div class="card-header" style="background-color: #c9c9c9;">
                    Conclusiones

                  </div>
                  <div class="card-body">
                    <div class="toolbar-table" *ngIf="permissions != null">

                      <!-- <div class="col-xs-6 col-sm-6 col-md-6 text-right float-right mt-3">
                        <div class="btn-group" dropdown>
  
                          <div let element></div>
                          <button class="btn btn-primary" *ngIf="permissions.update"
                            (click)="option('createCit',citTable.cit_id)" title="Crear">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div> -->
                      <mat-form-field appearance="standard">
                        <mat-label>Buscar...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
                      </mat-form-field>
                    </div>
                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="dataSourceConc" matSort class="table-large table-responsive-lg"
                        *ngIf="tableConclusion.length > 0">
                        <ng-container matColumnDef="viewCit">
                          <th mat-header-cell *matHeaderCellDef> Ver </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="btn  btn-ghost-secondary" *ngIf="permissions.view"
                              (click)="option('view',row.cla_id)" title="Ver">
                              <i class="fa fa-eye fa-lg"></i>
                            </button>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="cantidadConc">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Aclaraciones</th>
                          <!-- <td mat-cell *matCellDef="let row">{{row.cantidadConc}}</td> -->
                          <td mat-cell *matCellDef="let row">
                            <div class="mt-1"
                              [ngStyle]="{'backgroundColor': colorState(row.cantidadConc),'text-align':'center','margin':'2px','padding':'5px','border-radius':'50px','width':'90%','height':'5','font-weight':'500','color':'white'}">
                              {{row.cantidadConc}}
                            </div>
                          </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="con_fec_ela">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha y Hora a
                            Referenciar

                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.con_fec_ela}} </td>
                        </ng-container> -->

                        <ng-container matColumnDef="idPersonale">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Nombre y Apellidos
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.name | titlecase}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Motivo de proceso
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                        </ng-container>

                        <ng-container matColumnDef="con_fec_ela">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()">Fecha de elaboración
                          </th>
                          <td mat-cell *matCellDef="let row"> {{row.con_fec_ela}} </td>
                        </ng-container>

                        <ng-container matColumnDef="con_final">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Descripcion </th>
                          <td mat-cell *matCellDef="let row"> {{row.final}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef> Acciones </th>
                          <td mat-cell *matCellDef="let row">
                            <button class="btn btn-ghost-primary" *ngIf="permissions.update"
                              (click)="option('updateConc',row.con_id)" title="conclusion final">
                              <i class="fa fa-edit fa-lg"></i>
                              <!-- <i class="fa fa-edit fa-lg"></i> -->
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsConc"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsConc;"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                      </table>

                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                    </div>
                  </div>
                </div>
              </mat-dialog-content>


              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep1()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>


          </form>
        </mat-accordion>
      </mat-dialog-content>
      <div mat-dialog-actions>
        <div class="text-center col-12">
          <button *ngIf="view == 'update'" mat-button class="btn btn-success"
            (click)="onSubmitUpdate()">Actualizar</button>
          <button *ngIf="view == 'create'" mat-button class="btn btn-success" (click)="onSubmit()">Guardar</button>
          <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p>view</p> -->
<div *ngIf="view == 'view'">
  <div class="card mt-6">
    <div class="card-header">
      <h5 class="modal-title">
        <p class="title-modal" *ngIf="view == 'view'">{{title}}</p>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
          style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </h5>
    </div>
    <div class="card-body">
      <mat-dialog-content style="min-width: 1000px;">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Solicitud&nbsp; &nbsp;
              </mat-panel-title>
              <mat-panel-description>
                Información Detallada
              </mat-panel-description>
              <mat-icon>account_circle</mat-icon>
            </mat-expansion-panel-header>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Fecha de radicacion</dt>
                <dd>{{selection.dis_fec}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Cédula del trabajador que cometió la falta</dt>
                <dd>{{selection.dis_doc}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Nombre completo del trabajador que cometió la falta</dt>
                <dd>{{selection.empleado}}</dd>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-4">
                <dt>Cargo del trabajador que cometió la falta</dt>
                <dd>{{selection.cargo_emp}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Nombre completo del solicitante</dt>
                <dd>{{selection.solicitante}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Cargo del trabajador que solicita la diligencia</dt>
                <dd>{{selection.cargo_solicitante}}</dd>
              </div>
            </div>
            <mat-action-row>
              <button mat-button class="btn btn-dark mr-3" (click)="nextStep1()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step ===1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Descripción de la situación &nbsp; &nbsp;
              </mat-panel-title>
              <mat-panel-description>
                Falta
              </mat-panel-description>
              <mat-icon>chrome_reader_mode</mat-icon>
            </mat-expansion-panel-header>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Falta</dt>
                <dd>{{selection.falta}}</dd>
              </div>
              <div class="col-md-6" *ngIf="checkUs">
                <dt>Otro tipo de falta </dt>
                <dd>{{selection.observations}}</dd>
              </div>
            </div>
            <hr>
            <div class="row mt-4">
              <div class="col-md-6">
                <dt>Descripción de falta</dt>
                <dd>{{selection.descripcion_falta}}</dd>
              </div>
            </div>
            <hr>
            <div class="row mt-4">
              <div class="col-md-6">
                <dt>Elementos Relevantes</dt>
                <dd>{{selection.elementos_relev}}</dd>
              </div>
            </div>
            <hr>
            <div class="row mt-4">
              <div class="col-md-4">
                <dt>Nivel de Falta</dt>
                <dd>{{selection.nivel}}</dd>
              </div>
            </div>
            <mat-action-row>
              <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Atrás</button>
              <button mat-button class="btn btn-dark" (click)="nextStep1()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step ===2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Documentos de Soporte&nbsp; &nbsp;
              </mat-panel-title>
              <mat-panel-description>
                Adjuntar elementos
              </mat-panel-description>
              <mat-icon>attach_file</mat-icon>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-4">
                <dt>Cuenta con documentos de soporte?</dt>
                <dd>{{selection.soportes}}</dd>
              </div>
              <div class="col-md-4" *ngIf="caract">
                <dt>Documentos de Soporte:</dt>
                <dd>
                  <ul>
                    <li *ngFor="let archivo of selection.file_sp; let i = index;">
                      <a href="{{archivo}}" target="_blank">Download {{i+1}}</a>
                    </li>
                  </ul>
                </dd>
              </div>
              <div class="col-md-4 consid">
                <dt>¿Considera que la información que ha suministrado en este formulario es suficiente para demostrar
                  inequívocamente que el trabajador ha cometido la falta que usted refiere?</dt>
                <dd>{{selection.consideracion}}</dd>
              </div>
            </div>

            <mat-action-row>
              <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Atrás</button>
              <button mat-button class="btn btn-dark" (click)="nextStep1()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>

        </mat-accordion>
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Histórico de Procesos:
              </div>
              <table mat-table [dataSource]="historyMon" style="width: 100%;" class="mat-elevation-z8 demo-table">
                <ng-container matColumnDef="currentm_user">
                  <th mat-header-cell *matHeaderCellDef class="p-3">Usuario:</th>
                  <td mat-cell *matCellDef="let element" class="p-3">{{element.currentm_user}}</td>
                </ng-container>
                <ng-container matColumnDef="type_move">
                  <th mat-header-cell *matHeaderCellDef class="p-3">Acción:</th>
                  <td mat-cell *matCellDef="let element" class="p-3">{{element.type_move}}</td>
                </ng-container>
                <ng-container matColumnDef="date_move">
                  <th mat-header-cell *matHeaderCellDef class="p-3">Fecha:</th>
                  <td mat-cell *matCellDef="let element" class="p-3">{{element.date_move | date: 'medium'}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </mat-dialog-content>
    </div>