mat-icon.mat-icon.notranslate.Iconmanagement.material-icons.mat-icon-no-color {
    margin-left: 90% !important;
  }
  .ContCamp{
    pointer-events: none;
  }
  /* .GetCamp{
    pointer-events: none;
  }   */
  
  .example-full-width {
    width: 100%;
  }
  
  .example-vismenu-enc {
    background-color: #ff6d6d !important;
  }
  
  .example-vismenu-enc:focus{
    background-color: #ff6d6d !important;
  }
  
  .example-vismenu-enc:hover{
    background-color: #f68b8b !important;
  }
  
  .example-section {
    margin: 12px 0;
  }
  
  .color-text-Area{
    color: rgb(0 0 0 / 89%);
  }
  
  .ContCamp-text{
    height: 164px;
  }  