mat-icon.mat-icon.notranslate.Iconmanagement.material-icons.mat-icon-no-color {
  margin-left: 90% !important;
}
.ContCamp{
  pointer-events: none;
}
/* .GetCamp{
  pointer-events: none;
}   */

.example-full-width {
  width: 100%;
}

.example-vismenu-enc {
  background-color: #ff6d6d !important;
}

.example-vismenu-enc:focus{
  background-color: #ff6d6d !important;
}

.example-vismenu-enc:hover{
  background-color: #f68b8b !important;
}

.example-section {
  margin: 12px 0;
}

.color-text-Area{
  color: rgb(0 0 0 / 89%);
}

.ContCamp-text{
  height: 164px;
}  
ul {
  list-style: none;
}
/* .textHeader{
text-align: center;
font-size: 22px;
}
.textCenter{
padding: 10%;
text-align: center;
font-size: 18px;
} */
/* .imgCenter{
justify-content: center;
} */
img {
display: block;
/* width: 60%; */
/* width: 120%; */
width: 900px;
margin:0px auto;
filter: drop-shadow(2px 4px 6px black);
border-radius: 40px

}
/* Agrega estos estilos en tu hoja de estilos CSS o en el componente donde se aplica el HTML */

.textHeader {
font-size: 1.5em; /* Ajusta el tamaño de la fuente según sea necesario */
font-weight: bold; /* Puedes ajustar el peso de la fuente según tus preferencias */
margin-bottom: 10px; /* Añade espacio inferior para separar el encabezado del texto */
}

.textCenter {
width: 90%;
text-align: justify; /* Centra el texto */
}

/* Si encuentras que el texto es demasiado largo, puedes agregar estilos de desbordamiento */
.textOverflow {
overflow: hidden;
text-overflow: ellipsis; /* Agrega puntos suspensivos (...) cuando el texto es demasiado largo */
white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
}

/* Aplica estos estilos a la descripción (dd) si es necesario */
.textCenter mt-3 {
margin-top: 3em; /* Ajusta el espacio superior según sea necesario */
}
.background-suave {
background-color: #dfe3e5; /* Puedes cambiar el color según tus preferencias */
}
.example-card {
max-width: 400px;
}

.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}
.example-chip-list {
width: 100%;
}
.textCenter.shortText {
margin-bottom: 20px; /* Ajusta el margen según tus necesidades */
padding-left: 0%;
}
.conta{
padding-left: 10%;

}
table {
width: 100%;
}
.mat-form-field {
font-size: 14px;
width: 100%;
}

td, th {
width: 10%;

}

.mat-icon{
padding-right: 40px;
}

.contenedor-flexible {
display: flex;
flex-direction: center; /* O ajusta según tus necesidades de diseño */
}
/* 
.tu-imagen {
width: 100%; 
} */

.tu-imagen {
max-width: 100%; /* Ajusta el ancho máximo de la imagen */
margin-right: 20px; /* Espacio entre la imagen y el texto */
padding-left: 3%;
}

.contenido {
flex: 1; /* El contenido toma el espacio restante */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 700px) {
.contenedor-flexible {
  flex-direction: column; /* Apila los elementos en pantallas pequeñas */
}

.tu-imagen {
  max-width: 100%; /* La imagen ocupa todo el ancho en pantallas pequeñas */
  margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto en pantallas pequeñas */
}
}

/* Estilo para ocultar solo el primer input de tipo file */
#file-upload-1[type="file"] {
  display: none;
}

/* Estilo para ocultar solo el segundo input de tipo file */
#file-upload-2[type="file"] {
  display: none;
}

/* Estilo para ocultar solo el tercer input de tipo file */
#file-upload-3[type="file"] {
  display: none;
}

/* Estilos comunes para la clase custom-file-upload */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.file-name{
  font-weight: bold ;
}