<div class="card mt-6">
  <div class="card-header">
    <h5 class="modal-title">
      <p class="title-modal" *ngIf="view == 'user'">{{title}} {{idSel}}</p>
      <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
        style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
        <span aria-hidden="true">&times;</span>
      </button>
    </h5>
  </div>
  <mat-dialog-content style="min-width: 800px;">
    <div class="card-body">
      <div class="toolbar-table" *ngIf="permissions != null">

      
      <mat-form-field appearance="standard">
        <mat-label>Buscar...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
      </mat-form-field>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg"
          *ngIf="contenTable.length > 0">
          
          <ng-container matColumnDef="fec_ent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Fecha Selección </th>
            <td mat-cell *matCellDef="let row"> {{row.fec_ent| date}} </td>
          </ng-container>

          <ng-container matColumnDef="listSub">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Activo </th>
            <td mat-cell *matCellDef="let row"> {{row.activo}} </td>
          </ng-container>

           <ng-container matColumnDef="sub_pla_act_fij">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Numero Placa </th>
            <td mat-cell *matCellDef="let row"> {{row.sub_pla_act_fij}} </td>
          </ng-container>  

          <ng-container matColumnDef="sub_serial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Numero Serial </th>
            <td mat-cell *matCellDef="let row"> {{row.sub_serial}} </td>
          </ng-container>  
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
   
  </mat-dialog-content>
</div>
 