<div class="card mt-6">
  <div class="card-header">
    <h5 class="modal-title">
      <p class="title-modal" *ngIf="view == 'user'">{{title}} {{idSel}}</p>
      <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
        style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
        <span aria-hidden="true">&times;</span>
      </button>
    </h5>
  </div>
  <mat-dialog-content>
    <div class="card-body">
      <mat-form-field class="example-full-width" appearance="fill">
        <strong>
          <h4>
            <input matInput disabled value="">
          </h4>
        </strong>
      </mat-form-field>
      <div class="toolbar-table" *ngIf="permissions != null">

      <div class="col-xs-6 col-sm-6 col-md-6 text-right float-right mt-3">

        <!-- <div class="btn-group" dropdown>
            <button class="btn btn-success" *ngIf="permissions.create" (click)="onTriggerSheetClick()"
                title="Reporte Excel">
                <i class="fa fa-feed"></i>
            </button>
        </div> -->
        <div class="btn-group" dropdown>
            <!-- <button class="btn btn-success" *ngIf="permissions.update" (click)="option('state',idSel)"
                title="Actualizar Estado Formación">
                <i class="icon-refresh"></i>
            </button> -->
        </div>
       
    </div>
      <mat-form-field appearance="standard">
        <mat-label>Buscar...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
      </mat-form-field>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg"
          *ngIf="contenTable.length > 0">
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef> Ver </th>
            <td mat-cell *matCellDef="let row">
              <button class="btn  btn-ghost-secondary" *ngIf="permissions.view" (click)="option('view',row.idvac,row.nom_com)"
                title="Ver">
                <i class="fa fa-eye fa-lg"></i>
              </button>
            </td>
          </ng-container>
          !-- login Column -->
          <ng-container matColumnDef="fec_ent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Fecha Selección </th>
            <td mat-cell *matCellDef="let row"> {{row.fec_ent| date}} </td>
          </ng-container>

          <!-- name Column -->
          <ng-container matColumnDef="listSub">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Activo </th>
            <td mat-cell *matCellDef="let row"> {{row.listDesc}} </td>
          </ng-container>

           <ng-container matColumnDef="sub_pla_act_fij">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Numero Placa </th>
            <td mat-cell *matCellDef="let row"> {{row.sub_pla_act_fij}} </td>
          </ng-container>  

          <ng-container matColumnDef="sub_serial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Numero Serial </th>
            <td mat-cell *matCellDef="let row"> {{row.sub_serial}} </td>
          </ng-container>  
        
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-ghost-primary" *ngIf="permissions.update" (click)="option('update',row.idvac,row.nom_com)"
                title="Seguimiento">
                <i class="fa fa-edit fa-lg"></i>
                <!-- <i class="fa fa-edit fa-lg"></i> -->
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      <!-- </form> -->
    </div>
    <!-- <div class="row mt-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  Histórico de Procesos:
                </div>
                <table mat-table [dataSource]="historyMon" style="width: 100%;" class="mat-elevation-z8 demo-table">
                  <ng-container matColumnDef="currentm_user">
                    <th mat-header-cell *matHeaderCellDef class="p-3">Usuario:</th>
                    <td mat-cell *matCellDef="let element" class="p-3">{{element.currentm_user}}</td>
                  </ng-container>
  
                  <ng-container matColumnDef="type_move">
                    <th mat-header-cell *matHeaderCellDef class="p-3">Acción:</th>
                    <td mat-cell *matCellDef="let element" class="p-3">{{element.type_move}}</td>
                  </ng-container>
  
                  <ng-container matColumnDef="date_move">
                    <th mat-header-cell *matHeaderCellDef class="p-3">Fecha:</th>
                    <td mat-cell *matCellDef="let element" class="p-3">{{element.date_move | date: 'medium'}}</td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
                </table>
              </div>
            </div>
          </div> -->
  </mat-dialog-content>
</div>
 