<div class="content">
    <div class="card">
      <div class="card-header">
        Cargue Base Call Center
      </div>
      <div class="card-body">
        <form [formGroup]="cargForm" enctype="multipart/form-data">
          
          <div class="container">
  
            <div class="row">

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Campaña:</mat-label>
                  <mat-select formControlName="campana" (ngModelChange)="getSubcampana($event)" required>
                    <mat-option *ngFor="let idet of ListCampana" [value]="idet.cam_id">
                      {{idet.cam_nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Canal:</mat-label>
                  <mat-select formControlName="asc_canal" required>
                    <mat-option *ngFor="let idet of ListCanal" [value]="idet.canid" >
                      {{idet.can_des}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> 
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sub Campaña:</mat-label>
                  <mat-select formControlName="subcampana" required>
                    <mat-option *ngFor="let idet of FiltersubCampana" [value]="idet.succam_id">
                      {{idet.subcam_nom}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> 
              <div class="col-md-3" >
                <mat-form-field class="example-full-width" >
                    <mat-label>Fecha:</mat-label>
                    <input matInput formControlName="date" type="date"  required>
                </mat-form-field>
              </div>          
              
            </div>

            <div class="row">

                <div class="col-md-8" >
                    <div class="custom-file-input-container">
                        <input type="file" id="fileInput" formControlName="file" (change)="onFileSelected($event)" #fileInput style="display: none;">
                        <button [ngStyle]="{'background-color': isFileValid ? '#007bff' : '#dc3545', 'color': '#fff'}" class="custom-file-button" (click)="fileInput.click()">Seleccionar Archivo</button>
                        <span class="selected-file-name" [ngStyle]="{'color': isFileValid ? '#333' : '#dc3545'}">{{selectedFileName}}</span>
                      </div>
                </div>
                <div class="col-md-2 mt-1">
                  <button mat-button class="btn btn-primary" style="font-weight: bold;font-size: 17px;" mat-button
                    (click)="onSubmiBase()">Cargue de Base
                  </button>
                </div>
                <div class="col-md-2 mt-1">
                  <button mat-button class="btn btn-success" style="font-weight: bold;font-size: 17px;" mat-button
                    (click)="dowloadExcel()" [disabled]="this.isFilExist" title="{{this.dowlExcel.name}}">Base
                  </button>
                </div>

            </div>
  
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div *ngIf="loading" class="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>