<div class="card mt-6">
    <div class="background-suave" *ngIf="view == 'create' || view == 'update'">
        <div class="card-header">
            <h5 class="modal-title">
                <p class="title-modal" *ngIf="view == 'create'">{{title}}</p>
                <p class="title-modal" *ngIf="view == 'update'">{{title}}</p>
                <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
                    style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>
        <div class="card-body">
            <mat-dialog-content>
                <form *ngIf="view == 'create' || view == 'update'" [formGroup]="formCreate">
                    <h3><i class="fa fa-address-card" aria-hidden="true"></i> Información principal</h3>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombres</mat-label>
                                <input matInput formControlName="nombres" oninput="javascript:this.value=this.value.toUpperCase();"  required>
                                <mat-error *ngIf="formCreate.get('nombres').hasError('pattern')">
                                    El nombre solo debe contener letras
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Apellidos</mat-label>
                                <input matInput formControlName="apellidos" oninput="javascript:this.value=this.value.toUpperCase();"  required>
                                <mat-error *ngIf="formCreate.get('apellidos').hasError('pattern')">
                                    El apellido solo debe contener letras
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Tipo documento</mat-label>
                                <mat-select formControlName="tipo_doc" required>
                                    <mat-option *ngFor="let tipoDoc of tipoDocs" [value]="tipoDoc.tipo_doc">
                                        {{tipoDoc.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Documento de identidad</mat-label>
                                <input matInput formControlName="doc_ident" oninput="javascript:this.value=this.value.toUpperCase();"  required>
                                <mat-error *ngIf="formCreate.get('doc_ident').hasError('pattern')">
                                    El documento solo debe contener números
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha de Nacimiento</mat-label>
                                <input matInput formControlName="fecha_nac" type="date" >
                                <mat-error *ngIf="formCreate.get('fecha_nac').hasError('dateInFuture')">
                                    La fecha de expedición no puede ser futura.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Departamento de nacimiento</mat-label>
                                <mat-select formControlName="depa_naci" required (selectionChange)="onStateChange($event)">
                                    <mat-option *ngFor="let state of states" [value]="state.idState">
                                        {{state.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Ciudad de nacimiento</mat-label>
                                <mat-select formControlName="ciudad_naci" >
                                    <mat-option *ngFor="let city of filteredCities" [value]="city.idCity">
                                        {{city.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha de Expedición Cédula</mat-label>
                                <input matInput formControlName="fecha_exp" type="date" >
                                <mat-error *ngIf="formCreate.get('fecha_exp').hasError('dateInFuture')">
                                    La fecha de expedición no puede ser futura.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Departamento de expedición</mat-label>
                                <mat-select formControlName="depa_exp" required (selectionChange)="onExpStateChange($event)">
                                    <mat-option *ngFor="let state of states" [value]="state.idState">
                                        {{state.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Ciudad de expedición</mat-label>
                                <mat-select formControlName="ciudad_exp" >
                                    <mat-option *ngFor="let city of filteredExpCities" [value]="city.idCity">
                                        {{city.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Ciudad en que labora</mat-label>
                                <mat-select formControlName="ciudad_trabajo" required>
                                    <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                                        {{ ciudad }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" *ngIf="view == 'create'">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha de ingreso</mat-label>
                                <input matInput formControlName="fec_ingreso" type="date">
                                
                                <mat-error *ngIf="formCreate.get('fec_ingreso').hasError('fechaIngresoAnterior')">
                                    La fecha de ingreso no puede ser anterior al día de hoy.
                                </mat-error>
                                <mat-error *ngIf="formCreate.get('fec_ingreso').hasError('fechaIngresoInvalida')">
                                    La fecha de ingreso no cumple con los criterios establecidos.
                                </mat-error>
                                <mat-error *ngIf="formCreate.get('fec_ingreso').hasError('fechaIngresoDomingoFestivo')">
                                    La fecha de ingreso no puede ser Domingo o Festivo.
                                </mat-error>
                                <mat-error *ngIf="formCreate.get('fec_ingreso').hasError('fechaIngresoDia31')">
                                    No se puede seleccionar el día 31 de ningún mes.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-md-4" *ngIf="view == 'update'">
                            <mat-form-field appearance="fill">
                                <mat-label>Novedad estado</mat-label>
                                <mat-select formControlName="novedad_estado">
                                    <mat-option value="">Elegir opción</mat-option>
                                    <mat-option value="NO ACTIVADO">NO ACTIVADO</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4" *ngIf="view == 'create'">
                            <mat-form-field appearance="fill">
                                <mat-label>¿Vinculado Directamente?</mat-label>
                                <mat-select formControlName="vinculado">
                                    <mat-option value="">Elegir opción</mat-option>
                                    <mat-option value="17/1">SI</mat-option>
                                    <mat-option value="17/0">NO</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <div class="row mt-4" *ngIf="showObservaciones">
                        <div class="col-md-12">
                            <mat-form-field class="full-width-form-field">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput formControlName="observaciones" class="full-width-textarea"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    
                    
                    <hr>
                    
                    <!-- EN CASO DE SUBIR DOCUMENTO POR DOCUMENTO, DESCOMENTAR. ADEMÁS SE DEBEN DE QUITAR LOS DOCUMENTOS COMO REQUIRED -->
                    <!-- <div id="documentos" *ngIf="view==='create' || view==='update'"> -->
                        
                    <div id="documentos" *ngIf="view==='create'">
                        <h3><i class="fa fa-file-pdf-o"></i> Documentos del contratista</h3>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <label for="file-upload-id" class="custom-file-upload">
                                    <i class="fa fa-file-pdf-o"></i> Fotocopia de la Cédula
                                </label>
                                <input formControlName="file_cc" id="file-upload-id" type="file" (change)="seleccionarArchivo($event, 'file_cc')" accept="application/pdf"  (change)="onFileChange($event, 'file_cc')"/>
                                <div>
                                    <a *ngIf="selectedFileNames['file_cc']" [href]="selectedFileNames['file_cc']" target="_blank">Ver documento actual</a>
                                </div>
                                <mat-error *ngIf="formCreate.get('file_cc')?.hasError('required')">Este archivo es <b>requerido</b> </mat-error>
                                <mat-error *ngIf="formCreate.get('file_cc')?.hasError('pdfInvalid')">El archivo debe ser un PDF válido</mat-error>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label for="file-upload-cv" class="custom-file-upload">
                                    <i class="fa fa-file-pdf-o"></i> Hoja de vida
                                </label>
                                <input formControlName="file_cv" id="file-upload-cv" type="file" (change)="seleccionarArchivo($event, 'file_cv')" accept="application/pdf"  (change)="onFileChange($event, 'file_cv')"/>
                                <div>
                                    <a *ngIf="selectedFileNames['file_cv']" [href]="selectedFileNames['file_cv']" target="_blank">Ver documento actual</a>
                                </div>
                                <mat-error *ngIf="formCreate.get('file_cv')?.hasError('required')">Este archivo es <b>requerido</b> </mat-error>
                                <mat-error *ngIf="formCreate.get('file_cv')?.hasError('pdfInvalid')">El archivo debe ser un PDF válido</mat-error>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label for="file-upload-cert" class="custom-file-upload">
                                    <i class="fa fa-file-pdf-o"></i> Certificado Bancario
                                </label>
                                <input formControlName="file_bancario" id="file-upload-cert" type="file" (change)="seleccionarArchivo($event, 'file_bancario')" accept="application/pdf"  (change)="onFileChange($event, 'file_bancario')"/>
                                <div>
                                    <a *ngIf="selectedFileNames['file_bancario']" [href]="selectedFileNames['file_bancario']" target="_blank">Ver documento actual</a>
                                </div>
                                <mat-error *ngIf="formCreate.get('file_bancario')?.hasError('required')">Este archivo es <b>requerido</b> </mat-error>
                                <mat-error *ngIf="formCreate.get('file_bancario')?.hasError('pdfInvalid')">El archivo debe ser un PDF válido</mat-error>
                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label for="file-upload-id" class="custom-file-upload">
                                    <i class="fa fa-file-pdf-o"></i> Certificado de pensión
                                </label>
                                <input formControlName="file_pension" id="file-upload-id" type="file" (change)="seleccionarArchivo($event, 'file_pension')" accept="application/pdf"  (change)="onFileChange($event, 'file_pension')"/>
                                <div>
                                    <a *ngIf="selectedFileNames['file_pension']" [href]="selectedFileNames['file_pension']" target="_blank">Ver documento actual</a>
                                </div>
                                <mat-error *ngIf="formCreate.get('file_pension')?.hasError('required')">Este archivo es <b>requerido</b> </mat-error>
                                <mat-error *ngIf="formCreate.get('file_pension')?.hasError('pdfInvalid')">El archivo debe ser un PDF válido</mat-error>
                            </div>
                        </div>
                        
                        <div class="row mt-2 mb-4">
                            <div class="col-md-4 mb-4">
                                <label for="file-upload-id" class="custom-file-upload">
                                    <i class="fa fa-file-pdf-o"></i> Certificado de EPS
                                </label>
                                <input formControlName="file_eps" id="file-upload-id" type="file" (change)="seleccionarArchivo($event, 'file_eps')" accept="application/pdf"  (change)="onFileChange($event, 'file_eps')"/>
                                <div>
                                    <a *ngIf="selectedFileNames['file_eps']" [href]="selectedFileNames['file_eps']" target="_blank">Ver documento actual</a>
                                </div>
                                <mat-error *ngIf="formCreate.get('file_eps')?.hasError('required')">Este archivo es <b>requerido</b> </mat-error>
                                <mat-error *ngIf="formCreate.get('file_eps')?.hasError('pdfInvalid')">El archivo debe ser un PDF válido</mat-error>
                            </div>
                        </div>
                    </div>             
                </form>
            </mat-dialog-content>
            <div mat-dialog-actions>
                <div class="text-center col-12">
                    <button *ngIf="view == 'update'" mat-button class="btn btn-success"
                        (click)="onSubmitUpdate()"
                        [disabled]="!isFormChanged()">Actualizar</button>


                    <button *ngIf="view == 'create'" mat-button class="btn btn-success"
                        (click)="onSubmit()">Guardar</button>

                    <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="background-suave" *ngIf="view == 'view'">
        <div class="card">
            <div class="card-header">
                <h5 class="modal-title">
                    <p class="title-modal">{{title}}</p>
                    <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
                        style="position: absolute; right: 10px; top: 10px; font-size: 12px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="card-body">
                <mat-dialog-content style="min-width: 700px;">
                    <mat-card-content>
                        <h3><i class="fa fa-address-card" aria-hidden="true"></i> Información principal</h3>
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <dt>Nombre completo</dt>
                                <dd>{{contratista?.nombres}} {{contratista?.apellidos}}</dd>
                            </div>
                            <div class="col-md-4">
                                <dt>Tipo de documento</dt>
                                <dd>{{contratista?.tipo_doc_description}}</dd>
                            </div>
                            <div class="col-md-4">
                                <dt>Documento</dt>
                                <dd>{{contratista?.doc_ident}}</dd>
                            </div>
                        </div>
    
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <dt>Lugar de Nacimiento</dt>
                                <dd>{{contratista?.depa_naci_name}} - {{contratista?.ciudad_naci_name}}</dd>
                            </div>
                            <div class="col-md-4">
                                <dt>Fecha de nacimiento</dt>
                                <dd>{{contratista?.fecha_nac}} <small class="text-muted">(YYYY-MM-DD)</small></dd>
                            </div>
                            <div class="col-md-4">
                                <dt>Ciudad en que labora</dt>
                                <dd>{{contratista?.ciudad_trabajo}}</dd>
                            </div>
                            
                        </div>
    
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <dt>Lugar de Expedición</dt>
                                <dd>{{contratista?.depa_exp_name}} - {{contratista?.ciudad_exp_name}}</dd>
                            </div>
                            <div class="col-md-4">
                                <dt>Fecha de expedición</dt>
                                <dd>{{contratista?.fecha_exp}} <small class="text-muted">(YYYY-MM-DD)</small></dd>
                            </div>
                            
                            <div class="col-md-4">
                                <dt>Estado</dt>
                                <dd>{{contratista?.estado}}</dd>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <dt>Fecha de ingreso</dt>
                                <dd>{{contratista?.fec_ingreso}} <small class="text-muted">(YYYY-MM-DD)</small></dd>
                            </div>
                            <div class="col-md-4">
                                <dt>Fecha de retiro</dt>
                                <dd>{{ contratista?.fec_retiro || 'NO APLICA' }} <small class="text-muted">(YYYY-MM-DD)</small></dd>
                            </div>                            
                            <div class="col-md-4">
                                <dt>¿Vinculado Directamente?</dt>
                                <dd>{{ contratista?.description}}</dd>
                            </div>                            
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4" *ngIf="contratista?.observaciones">
                                <dt>Observaciones</dt>
                                <dd>{{ contratista.observaciones }}</dd>
                            </div>
                        </div>
                        <hr>
                        <h3><i class="fa fa-file-pdf-o"></i> Documentos del contratista</h3>
                        <div class="row mt-4">
                            <div class="col-md-4" *ngIf="contratista?.file_cv">
                                <div class="card">
                                    <div class="card-body">
                                        <a [href]="contratista?.file_cv" target="_blank">Ver Hoja de Vida</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="contratista?.file_cedula">
                                <div class="card">
                                    <div class="card-body">
                                        <a [href]="contratista?.file_cedula" target="_blank">Ver Fotocopia cédula</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="contratista?.file_bancario">
                                <div class="card">
                                    <div class="card-body">
                                        <a [href]="contratista?.file_bancario" target="_blank">Ver Certificado bancario</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="contratista?.file_eps">
                                <div class="card">
                                    <div class="card-body">
                                        <a [href]="contratista?.file_eps" target="_blank">Ver Certificado EPS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="contratista?.file_pension">
                                <div class="card">
                                    <div class="card-body">
                                        <a [href]="contratista?.file_pension" target="_blank">Ver Certificado Pensión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="contratista?.file_afi_eps || contratista?.file_arl || contratista?.file_contrato">
                            <hr>
                            <h3><i class="fa fa-file-pdf-o"></i> Documentos de afiliación</h3>
                            <div class="row mt-4">
                                <div class="col-md-4" *ngIf="contratista?.file_afi_eps">
                                    <div class="card">
                                        <div class="card-body">
                                            <a [href]="contratista?.file_afi_eps" target="_blank">Ver Afiliación a EPS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="contratista?.file_arl">
                                    <div class="card">
                                        <div class="card-body">
                                            <a [href]="contratista?.file_arl" target="_blank">Ver Afiliación a ARL</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="contratista?.file_contrato">
                                    <div class="card">
                                        <div class="card-body">
                                            <a [href]="contratista?.file_contrato" target="_blank">Ver Contrato</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="contratista?.file_carta_termina">
                            <hr>
                            <h3><i class="fa fa-ban"></i> Finalización contrato</h3>
                            <div class="row mt-4">
                                <div class="col-md-4" >
                                    <div class="card">
                                        <div class="card-body">
                                            <a [href]="contratista?.file_carta_termina" target="_blank">Ver Carta de terminación contrato</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="planillas.length > 0">
                            <hr>
                            <h3><i class="fa fa-files-o" aria-hidden="true"></i> Planilla Seguridad Social</h3>
                            <div class="row mt-4">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Año</mat-label>
                                    <mat-select (selectionChange)="onPlanillaYearChange($event.value)" [(value)]="selectedPlanillaYear">
                                        <mat-option [value]="null">Elegir año...</mat-option>
                                        <mat-option *ngFor="let year of availablePlanillaYears" [value]="year">{{ year }}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                <div *ngIf="selectedPlanillaYear" class="col-md-4">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Mes</mat-label>
                                    <mat-select (selectionChange)="onPlanillaMonthChange($event.value)" [(value)]="selectedPlanillaMonth">
                                        <mat-option [value]="null">Elegir mes...</mat-option>
                                        <mat-option *ngFor="let month of availablePlanillaMonths" [value]="month">{{ month }}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                            
                                <!-- Mostrar Planillas Filtradas -->
                                <div *ngIf="filteredPlanillas.length > 0" class="col-md-4">
                                    <div *ngFor="let doc of filteredPlanillas">
                                        <a mat-raised-button color="primary" [href]="doc.file_path" target="_blank" class="download-button">
                                            Ver Planilla Seguridad Social
                                        </a>
                                    </div>
                                </div>
                            
                                <div *ngIf="filteredPlanillas.length === 0 && selectedPlanillaYear && selectedPlanillaMonth">
                                    <p>No se encontraron documentos para el año {{ selectedPlanillaYear }} y el mes {{ selectedPlanillaMonth }}.</p>
                                </div>
                            </div>
                        </div>
                            
                        <div *ngIf="cuentas_cobro.length > 0">
                            <hr>
                            <h3><i class="fa fa-money" aria-hidden="true"></i> Cuentas de cobro</h3>
                            <div class="row mt-4">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Año</mat-label>
                                    <mat-select (selectionChange)="onCobroYearChange($event.value)" [(value)]="selectedCobroYear">
                                        <mat-option [value]="null">Elegir año...</mat-option>
                                        <mat-option *ngFor="let year of availableCobroYears" [value]="year">{{ year }}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                <div *ngIf="selectedCobroYear" class="col-md-4">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Mes</mat-label>
                                    <mat-select (selectionChange)="onCobroMonthChange($event.value)" [(value)]="selectedCobroMonth">
                                        <mat-option [value]="null">Elegir mes...</mat-option>
                                        <!-- <mat-option *ngFor="let month of availableCobroMonths" [value]="month">{{ month }}</mat-option> -->
                                        <mat-option *ngFor="let month of availableCobroMonths" [value]="month.value">
                                            {{ month.name }}
                                        </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- Mostrar Cuentas de Cobro Filtradas -->
                                <div *ngIf="filteredCobros.length > 0" class="col-md-4">
                                    <div *ngFor="let doc of filteredCobros" class="m-3">
                                        <a mat-raised-button color="primary" [href]="doc.file_path" target="_blank" class="download-button">
                                            Ver Cuenta de Cobro Q{{ doc.fortnight }}
                                        </a>
                                    </div>
                                </div>
                                <div *ngIf="filteredCobros.length === 0 && selectedCobroYear && selectedCobroMonth">
                                    <p>No se encontraron documentos para el año {{ selectedCobroYear }} y el mes {{ selectedCobroMonth }}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <mat-accordion>
                                <mat-expansion-panel headerPosition="below">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Histórico de Procesos
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <div class="card">
                                            <div class="card-header">
                                                Histórico de Procesos:
                                            </div>
                                            <table mat-table [dataSource]="historico" style="width: 100%;" class="mat-elevation-z8 demo-table">
                                                <!-- Usuario Column -->
                                                <ng-container matColumnDef="currentm_user">
                                                    <th mat-header-cell *matHeaderCellDef class="p-3">Usuario:</th>
                                                    <td mat-cell *matCellDef="let element" class="p-3">{{element.currentm_user}}</td>
                                                </ng-container>
                                    
                                                <!-- Fecha Column -->
                                                <ng-container matColumnDef="date_move">
                                                    <th mat-header-cell *matHeaderCellDef class="p-3">Fecha:</th>
                                                    <td mat-cell *matCellDef="let element" class="p-3">{{element.date_move | date: 'medium'}}</td>
                                                </ng-container>
        
                                                <!-- Acción Column -->
                                                <ng-container matColumnDef="type_move">
                                                    <th mat-header-cell *matHeaderCellDef class="p-3">Acción:</th>
                                                    <td mat-cell *matCellDef="let element" class="p-3">{{element.type_move}}</td>
                                                </ng-container>
        
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>                      
                            
                        </div>

                    </mat-card-content>
                </mat-dialog-content>
                <div mat-dialog-actions>
                    <div class="text-center col-12">
                        <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>