<div class="content">
    <div class="card">
        <div class="card-header">
            Incapacidades Sig
        </div>
        <div class="content-table">
            <div class="toolbar-table" *ngIf="permissions != null">

                <div class="m-2 text-right">        
                          
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" aria-label="Menu" class="custom-menu-button">
                        <span>Menu</span>
                    </button>
                      
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Acciones Disponibles… </button>

                        <button mat-menu-item *ngIf="permissions.create" (click)="onTriggerSheetClick()" title="Reporte Incapacidad">
                            <mat-icon>download</mat-icon>
                            <span>Reporte Incapacidad</span>
                        </button>
      
                    </mat-menu>       
                </div>

                <div class="container">
                    <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Buscar..</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cali express" #input>
                    </mat-form-field>
                </div>
            </div>

            <div class="section-table first-action">
                <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg" *ngIf="personaleData.length > 0">
                <!-- <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg" > -->

                    <ng-container matColumnDef="view">
                        <th mat-header-cell *matHeaderCellDef  > Ver </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn  btn-ghost-secondary" *ngIf="permissions.view" (click)="option('view',element.id_disinf)"
                                title="Ver">
                                <i class="fa fa-eye fa-lg"></i>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fechageneracion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Fecha de Radicaci&oacute;n </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechageneracion | date: 'medium'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="document">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Numero de Documento</th>
                        <td mat-cell *matCellDef="let element"> {{element.document}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechainicausen">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Fecha Inicio de Ausencia </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechainicausen}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechafinausen">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Fecha Fin Ausencia </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechafinausen}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estado_gs">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Estado Gestion </th>
                        <td mat-cell *matCellDef="let element" > 
                            <button class="mt-1" class="btn btn-light"
                                [ngStyle]="{'backgroundColor': colorState(element.estado_gs_cod),'text-align':'center','margin':'2px','padding':'5px','border-radius':'50px','width':'70%','height':'5','font-weight':'500','color':'white'}">
                                {{element.estado_gs}} 
                            </button>  
                        </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef > Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn  btn-ghost-secondary" *ngIf="permissions.update" (click)="option('update',element.id_disinf)"
                                title="Editar">
                                <i class="fa fa-edit fa-lg"></i>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[50, 100, 500]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="personaleData.length == 0">
            <h4 class="no-records">No hay registros...</h4>
          </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>