<div class="content">
    <div class="card">
        <div class="card-header">
            Gestion personal
        </div>
        <!-- TODO Pendiente Cambiar variable de entorno  -->
        <div class="content-table">
            <div class="toolbar-table" *ngIf="permissions != null">

                <div class="m-2 text-right">        
                          
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" aria-label="Menu" class="custom-menu-button">
                        <span>Menu</span>
                    </button>
                      
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Acciones Disponibles… </button>
      
                        <button mat-menu-item *ngIf="checkCreate" (click)="option('create')" title="Crear">
                            <mat-icon>add_circle</mat-icon>
                            <span>Crear</span>
                        </button>

                        <button mat-menu-item *ngIf="checkCreate" (click)="successModal.show()" title="Importar Archivo Personal">
                            <mat-icon>upload_file</mat-icon>
                            <span>Importar Archivo Personal</span>
                        </button>

                        <button mat-menu-item *ngIf="permissions.create" (click)="onTriggerSheetClick()" title="Reporte Mod. Personal">
                            <mat-icon>download</mat-icon>
                            <span>Reporte Mod. Personal</span>
                        </button>
      
                    </mat-menu>       
                </div>

                <!--<div class="col-xs-6 col-sm-6 col-md-6 text-right float-right mt-3" *ngIf="permissions.create">
                    <div class="btn-group" dropdown>
                        <button class="btn btn-success" *ngIf="permissions.create" (click)="onTriggerSheetClick()"
                            title="Reporte Excel">
                            <i class="fa fa-feed"></i>
                        </button>
                    </div>

                    <div class="btn-group" dropdown *ngIf="checkCreate">
                        <button dropdownToggle type="button" class="btn btn-primary ">
                            <i class="fa fa-plus"></i>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">

                            <li role="menuitem"><a class="dropdown-item" [routerLink]=""
                                    (click)="successModal.show()">Importar Archivo</a></li>

                            <li role="menuitem"><a class="dropdown-item" (click)="option('create')">Ingresar nuevo
                                    registro</a></li>
                        </ul>
                    </div>
                </div>-->

                <div class="container">
                    <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Buscar..</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Cali express" #input>
                    </mat-form-field>
                </div>
            </div>

            <div class="section-table first-action">
                <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg"
                    *ngIf="personaleData.length > 0">
                    <!-- <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg" > -->

                    <ng-container matColumnDef="view">
                        <th mat-header-cell *matHeaderCellDef> Ver </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn  btn-ghost-secondary" *ngIf="permissions.view"
                                (click)="option('view',element.idPersonale)" title="Ver">
                                <i class="fa fa-eye fa-lg"></i>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="createAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Fecha de
                            Radicaci&oacute;n </th>
                        <td mat-cell *matCellDef="let element"> {{element.createAt | date: 'medium'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Nombre completo</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="document">

                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Documento</th>
                        <td mat-cell *matCellDef="let element"> {{element.document}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Correo </th>
                        <td mat-cell *matCellDef="let element"> {{(checkCreate == false ) ? '*******' :
                            element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Telefono </th>
                        <td mat-cell *matCellDef="let element"> {{(checkCreate == false ) ? '******' : element.phone}}
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn  btn-ghost-secondary" *ngIf="permissions.update"
                                (click)="option('update',element.idPersonale)" title="Editar">
                                <i class="fa fa-edit fa-lg"></i>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[50, 100, 500]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="personaleData.length == 0">
                <h4 class="no-records">No hay registros...</h4>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loading">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Importar información</h4>
                <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="file">Archivo excel</label>
                        <!-- <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar -->
                        <angular-file-uploader [config]="afuConfig" (ApiResponse)="getAllPersonal()">
                        </angular-file-uploader>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cancelar</button>
            </div>
        </div>
    </div>
</div>