.btn-info-2 {
    color: #c8ced3;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}


.btn-info-1{
    color: #23282c;
    background-color: #63c2de;
    border-color: #63c2de;
}



.full-width {
    width: 100%;
}