<div *ngIf="view == 'view'">
    <div class="modal-header">
        <h5 class="modal-title">Listado de Notificaciones</h5>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <mat-dialog-content style="min-width: 500px;">
    
        <div class="card">
            <div class="card-header">
                
            </div>
            <div class="content-table">
    
                <div class="section-table first-action">
                    <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg" *ngIf="personaleData.length > 0">
          
                        <ng-container matColumnDef="view">
                            <th mat-header-cell *matHeaderCellDef  > Acciones </th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn  btn-info-{{element.status}}"  (click)="option(element.id_noti)"
                                    title="Ver">
                                    <i class="fa fa-eye fa-lg"></i>
                                </button>

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="date_create">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="p-3" > Fecha Radicaci&oacute;n</th>
                            <td mat-cell *matCellDef="let element" class="p-3"> {{element.date_create | date: 'medium'}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="tipe_noti">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="p-3"> Tipo Notificaci&oacute;n</th>
                            <td mat-cell *matCellDef="let element" class="p-3"> {{element.tipe_noti}} / {{element.mindeta_noti}} </td>
                        </ng-container>
    
                        <!--<ng-container matColumnDef="date_ini">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="p-3"> Fecha Inicial</th>
                            <td mat-cell *matCellDef="let element" class="p-3"> {{element.date_ini}} </td>
                        </ng-container>-->
    
                        <ng-container matColumnDef="date_peri">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="p-3">Vigencia de visualizaci&oacute;n </th>
                            <td mat-cell *matCellDef="let element" class="p-3"> <b>Ini: </b>{{element.date_ini}} / <b>Fin: </b>{{element.date_end}} </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
                <div *ngIf="personaleData.length == 0">
                <h4 class="no-records">No hay registros...</h4>
              </div>
            </div>
        </div>

    </mat-dialog-content>

</div>