<div *ngIf="view == 'view'">
    <div class="modal-header">
        <h5 class="modal-title">Información de la lista</h5>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <mat-dialog-content style="min-width: 500px;">
        <div class="row mt-2">
            <div class="col-md-4">
                <dt>Nombres Ingles</dt>
                <dd>{{lista.name_ing}}</dd>
            </div>

            <div class="col-md-4">
                <dt>Nombre Español</dt>
                <dd>{{lista.name_esp}}</dd>
            </div>

            <div class="col-md-4">
                <dt>ID Lista</dt>
                <dd>{{lista.list_id}}</dd>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-content style="min-width: 500px;">
    
        <div class="row mt-2">
            <div class="col-md-12">

                <table mat-table [dataSource]="valoresList" style="width: 100%;" class="mat-elevation-z8 demo-table">
                    <!-- Position Column -->
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef>Valores Agregrados</th>
                      <td mat-cell *matCellDef="let element">{{element.description}}</td>
                    </ng-container>
                  
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

            </div>
        </div>

    </mat-dialog-content>

</div>

<div class="card mt-6">
    <div *ngIf="view == 'create' || view == 'update'">
        <div class="card-header">
            <h5 class="modal-title">
                <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
                <p class="title-modal" *ngIf="view == 'update'">Editar</p>
                <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
                    style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>

        <div class="card-body">
            <mat-dialog-content>
                <form *ngIf="view == 'create' || view == 'update'" [formGroup]="formLista">

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre Lista Ingles</mat-label>
                                <input matInput formControlName="name_ing">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre Espa&ntilde;ol</mat-label>
                                <input matInput formControlName="name_esp">
                            </mat-form-field>
                        </div>
                    </div>

                </form>

            </mat-dialog-content>
            <div mat-dialog-actions>
                <div class="text-center col-12">
                    <button *ngIf="view == 'update'" mat-button class="btn btn-success"
                        (click)="onSubmitUpdate()">Actualizar</button>

                    <button *ngIf="view == 'create'" mat-button class="btn btn-success"
                        (click)="onSubmit()">Guardar</button>

                    <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</div>