mat-icon.mat-icon.notranslate.Iconmanagement.material-icons.mat-icon-no-color {
    margin-left: 90% !important;
  }
  .ContCamp{
    pointer-events: none;
  }
  /* .GetCamp{
    pointer-events: none;
  }   */

  .example-full-width {
    width: 100%;
  }

  .example-vismenu-enc {
    background-color: #ff6d6d !important;
  }

  .example-vismenu-enc:focus{
    background-color: #ff6d6d !important;
  }

  .example-vismenu-enc:hover{
    background-color: #f68b8b !important;
  }

  .example-section {
    margin: 12px 0;
  }

  .color-text-Area{
    color: rgb(0 0 0 / 89%);
  }

  .ContCamp-text{
    height: 164px;
  }  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .title-conclu{
    width: 100%;
    font: bold;
  }

  #signature-pad {
    width: 400px;
    /* height: 150px; */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    font-family: Arial, sans-serif; /* Establece una fuente legible */
  }
  
  .description {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .signature-pad--body {
    /* border: 1px solid #000; */
  }
  
  #canvas {
    width: 100%;
    height: 220px;
    border-bottom: 1px solid #858585; 
    box-sizing: border-box; 
  }
  