<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-note"></i> Creaci&oacute;n Listas
                </div>
                <div class="card-body">
                    <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  
                        <ng-wizard-step [title]="'Basico'" [description]="'Información personal'"
                          [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                          <span>Step 1 content</span>
                        </ng-wizard-step>
                        
                        <ng-wizard-step [title]="'Medica'" [description]="'Información medica'">
                          <span>Step 2 content</span>
                        </ng-wizard-step>
                        
                        <ng-wizard-step [title]="'Académica'" [description]="'Información Académica'"
                          [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                          <span>Step 3 content</span>
                        </ng-wizard-step>
                       
                      <ng-wizard-step [title]="'Laboral'" [description]="'Información laboral,salarial y seguridad social'">
                          <span>Step 4 content</span>
                        </ng-wizard-step>                     
                      
                      <ng-wizard-step [title]="'Familiar'" [description]="'Información familiar'">
                        <span>Step 4 content</span>
                      </ng-wizard-step>                     
                   
                    <ng-wizard-step [title]="'Dotacion'" [description]="'Información dotación'">
                        <span>Step 4 content</span>
                      </ng-wizard-step>                     
                   
                    <ng-wizard-step [title]="'Seguridad social'" [description]="'Información seguridad social'">
                        <span>Step 4 content</span>
                      </ng-wizard-step>                     
                    </ng-wizard>
                </div>
            </div>
        </div>
    </div>
</div> -->