<div class="content">
  <div class="card">
    <div class="card-header">
      Facturación
    </div>
    <div class="card-body">
      <form [formGroup]="formDownoadIngreso">
        <div class="container">
          <!-- <div class="m-2 text-right">        
                          
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" aria-label="Menu" class="custom-menu-button">
                <span>Menu</span>
            </button>
              
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Acciones Disponibles… </button>
    
                <button mat-menu-item  (click)="successModal.show()" title="Importar Archivo de Actualizaci&oacute;n">
                    <mat-icon>upload_file</mat-icon>
                    <span>Importar Archivo de Actualizaci&oacute;n</span>
                </button>
    
            </mat-menu>       
          </div> -->

          <div class="row">
            <div class="col-md-3" >
              <mat-form-field class="example-full-width" >
                  <mat-label>Fecha Inicio:</mat-label>
                  <input matInput formControlName="fi" type="date"  required>
              </mat-form-field>
            </div>  
            <div class="col-md-3" >
              <mat-form-field class="example-full-width" >
                  <mat-label>Fecha Fin:</mat-label>
                  <input matInput formControlName="ff" type="date"  required>
              </mat-form-field>
            </div>  
            <div class="col-md-3 mt-1">
              <button mat-button class="btn btn"
                style="background-color: #0d95c5; margin:'7px';padding:1px;width: 60%; height: 55%; font-size: 15px;
                color: white;"
                (click)="descargarArchivos()">Descargar</button>
            </div>
            <!-- <div class="col-md-3 mt-1">
              <button mat-button class="btn btn"  (click)="successModal.show()" title="Importar Archivo de Actualizaci&oacute;n">
                <mat-icon>upload_file</mat-icon>
                <span>Importar Archivo de Actualizaci&oacute;n</span>
            </button>
            </div>
            <div class="col-md-3 mt-1">
              <button mat-button class="btn btn"  (click)="getProjection()" title="Proyección movil">
                <mat-icon>upload_file</mat-icon>
                <span>Proyección movil</span>
            </button>
            </div> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="loading" class="loading">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Importar información</h4>
        <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-12">
            <label class="col-form-label" for="file">Archivo excel</label>
            <!-- <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar -->
            <angular-file-uploader [config]="afuConfig" (ApiResponse)="getAllPersonal()">
            </angular-file-uploader>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cancelar</button>
      </div>
    </div>
  </div>
</div>