
<!-- Cargar Nueva Base -->
<div *ngIf="view == 'update'" class="card mt-6">

    <div >
        <div class="card-header">
            <h5 class="modal-title" mat-dialog-title>
                <p class="title-modal" >{{this.title}}</p>
                <div mat-icon-button align="end"> 
                    <button mat-button class="btn btn-primary btn-close" (click)="closeDialog()">
                        <mat-icon>close</mat-icon>
                    </button>               
                </div>   
            </h5>
        </div>
    </div>

    <div mat-dialog-content class="card-body">
        
        <form *ngIf="view == 'create' || view == 'update'" [formGroup]="formProces" method="POST" enctype="multipa">

            <div class="row">
                <div class="col-md-4">
                    <dt>Nombre Base:</dt>
                    <dd>{{dataCad.bda_base}}</dd>
                </div>  
                <div class="col-md-4">
                    <dt>Fecha Inicio:</dt>
                    <dd>{{dataCad.fech_ini}}</dd>
                </div>
                <div class="col-md-4">
                    <dt>Fecha Fin:</dt>
                    <dd>{{dataCad.fech_fin}}</dd>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" >
                        <mat-label>Descripci&oacute;n Base:</mat-label>
                        <textarea matInput formControlName="dba_desc"  placeholder="" required></textarea>
                    </mat-form-field>
                </div>
            </div>

        </form>


        <div mat-dialog-actions align="center">
            <div class="text-center col-12 mb-3"> 
                <button *ngIf="view == 'update'" mat-button class="btn btn-success"
                    (click)="onSubmitUpdate()">Guardar</button>

                <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
            </div>
        </div>
        
    </div>
    
</div>