mat-icon.mat-icon.notranslate.Iconmanagement.material-icons.mat-icon-no-color {
    margin-left: 90% !important;
  }
  .ContCamp{
    pointer-events: none;
  }  

  .example-full-width {
    width: 100%;
  }