<div class="card mt-6">
    <div *ngIf="view == 'create' || view == 'update'">
        <div class="card-header">
            <h5 class="modal-title">
                <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
                <p class="title-modal" *ngIf="view == 'update'">Editar</p>
                <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
                    style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>

        <div class="card-body">
            <mat-dialog-content>
                <!--{Primera Seccion Informacion Personal}-->
                <mat-accordion class="example-headers-align">
                    <form *ngIf="view == 'create' || view == 'update'" [formGroup]="formProces">

                        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Datos de Parametrizaci&iacute;n 
                                </mat-panel-title>
                                <mat-panel-description>
                                    <!--{}-->
                                    <mat-icon>account_circle</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombre Completo:</mat-label>
                                        <input matInput formControlName="name" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <mat-label>Número de identificación:</mat-label>
                                        <input matInput formControlName="document" type="number" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tipo Docummento:</mat-label>
                                        <mat-select formControlName="idDocumentType" required>
                                            <mat-option *ngFor="let idet of typeidentifi" [value]="idet.ls_codvalue">
                                                {{idet.description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            
                            <mat-action-row>
                                <button mat-button class="btn btn-dark" (click)="nextStep()">Next</button>
                            </mat-action-row>
                        </mat-expansion-panel>

                    </form>
                </mat-accordion>
            </mat-dialog-content>
            <div mat-dialog-actions>
                <div class="text-center col-12">
                    <button *ngIf="view == 'update'" mat-button class="btn btn-success"
                        (click)="onSubmitUpdate()">Actualizar</button>

                    <button *ngIf="view == 'create'" mat-button class="btn btn-success"
                        (click)="onSubmit()">Guardar</button>

                    <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</div>