<div class="card mt-6">
  <div class="card-header">
    <h5 class="modal-title">
      <p class="title-modal" *ngIf="view == 'trainer'">{{title}} {{idSel}}</p>
      <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
        style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
        <span aria-hidden="true">&times;</span>
      </button>
    </h5>
  </div>

  <mat-dialog-content>
    <div class="card-body">
      <mat-form-field class="example-full-width" appearance="fill">
        <strong>
          <h4>
            <input matInput disabled value="Asignar Formador">
          </h4>
        </strong>
      <!-- <button class="btn btn-outline-primary" (click)="addNewContacts()">+</button> -->

      </mat-form-field>

      <!-- <div >
        <div class="modal-header">
           
        </div>
    
        <mat-dialog-content style="min-width: 500px;">
            <div class="row mt-2">
                <div class="col-md-4">
                    <dt>Documento</dt>
                    <dd>{{formad.document}}</dd>
                </div>
                <div class="col-md-4">
                    <dt>Nombres</dt>
                    <dd>{{formad.idPersonale}}</dd>
                </div>
                <div class="col-md-4">
                    <dt>Fecha Inicio</dt>
                    <dd>{{formad.fec_ini}}</dd>
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="col-md-4">
                    <dt>Fecha Final</dt>
                    <dd>{{formad.fec_fin}}</dd>
                </div>
    
                <div class="col-md-4">
                    <dt>Dias de formacion</dt>
                    <dd>{{formad.day_for}}</dd>
                </div>
                <div class="col-md-4">
                  <dt>Tipo de formacion</dt>
                  <dd>{{formad.tip_for}}</dd>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                  <dt>Grupo</dt>
                  <dd>{{formad.grupo}}</dd>
              </div>
  
              <div class="col-md-4">
                  <dt>Metdologia</dt>
                  <dd>{{formad.metodologia}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Estado de formacion</dt>
                <dd>{{formad.est}}</dd>
            </div>
          </div>
        </mat-dialog-content>
    </div> -->
     
      <!-- --------------------------------------------------------------- -->



      <mat-form-field appearance="standard">
        <mat-label>Buscar...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="table-large table-responsive-lg"
          *ngIf="contenTable.length > 0">
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef> Ver </th>
            <td mat-cell *matCellDef="let row">
              <button class="btn  btn-ghost-secondary" *ngIf="permissions.view" (click)="option('view',row.idvac)"
                title="Ver">
                <i class="fa fa-eye fa-lg"></i>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="fec_sel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Fecha Selección </th>
            <td mat-cell *matCellDef="let row"> {{row.fec_sel}} </td>
          </ng-container>

          <ng-container matColumnDef="tip_doc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Tipo Documento </th>
            <td mat-cell *matCellDef="let row"> {{row.docu}} </td>
          </ng-container>

          <ng-container matColumnDef="document">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Numero Documento </th>
            <td mat-cell *matCellDef="let row"> {{row.document}} </td>
          </ng-container>

          <ng-container matColumnDef="nom_com">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Nombre Completo </th>
            <td mat-cell *matCellDef="let row"> {{row.nom_com}} </td>
          </ng-container>

          <ng-container matColumnDef="car_sol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Cargo Solicitado </th>
            <td mat-cell *matCellDef="let row"> {{row.lab}} </td>
          </ng-container>

          <ng-container matColumnDef="matrizarp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openc()"> Tipo Matriz </th>
            <td mat-cell *matCellDef="let row"> {{row.mat}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <!-- <button class="btn  btn-ghost-secondary" *ngIf="permissions.update" (click)="option('update',row.idvac)"
                title="Editar">
                <i class="fa fa-edit fa-lg"></i>
              </button> -->

              <!-- <button class="btn btn-ghost-danger" *ngIf="permissions.create" (click)="pdf(element.fbid)"
                            title="PDF">
                            <i class="fa fa-file-pdf-o"></i>
                        </button> -->
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      <!-- </form> -->
    </div>
    <!-- <div class="row mt-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  Histórico de Procesos:
                </div>
                <table mat-table [dataSource]="historyMon" style="width: 100%;" class="mat-elevation-z8 demo-table">
                  <ng-container matColumnDef="currentm_user">
                    <th mat-header-cell *matHeaderCellDef class="p-3">Usuario:</th>
                    <td mat-cell *matCellDef="let element" class="p-3">{{element.currentm_user}}</td>
                  </ng-container>
  
                  <ng-container matColumnDef="type_move">
                    <th mat-header-cell *matHeaderCellDef class="p-3">Acción:</th>
                    <td mat-cell *matCellDef="let element" class="p-3">{{element.type_move}}</td>
                  </ng-container>
  
                  <ng-container matColumnDef="date_move">
                    <th mat-header-cell *matHeaderCellDef class="p-3">Fecha:</th>
                    <td mat-cell *matCellDef="let element" class="p-3">{{element.date_move | date: 'medium'}}</td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
                </table>
              </div>
            </div>
          </div> -->
  </mat-dialog-content>


</div>