<div class="card mt-8">
    <div *ngIf="view == 'create' || view == 'update'">
        <div class="card-header">
            <h5 class="modal-title button_header">
                <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
                <p class="title-modal" *ngIf="view == 'update'">{{title}}</p>
                <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h5>
        </div>

        <div class="card-body">
            <mat-dialog-content>
                <form *ngIf="view == 'create' || view == 'update'" [formGroup]="formProces" method="POST">

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Numero Identificaci&oacute;n</mat-label>
                                <input matInput formControlName="document_tr" type="number" (ngModelChange)="onSelectionChange($event)" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width ContCamp" >
                                <mat-label>Nombre(s) y Apellido(s):</mat-label>
                                <mat-select formControlName="idPersonale" required>
                                  <mat-option *ngFor="let idet of PersonaleInfo" [value]="idet.idPersonale">
                                    {{idet.name}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Tipo Gestion:</mat-label>
                                <mat-select formControlName="tipo_gestion"  required>
                                  <mat-option *ngFor="let idet of ListTipoGes" [value]="idet.ls_codvalue" >
                                    {{idet.description}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Area de trabajo:</mat-label>
                                <mat-select formControlName="area"  >
                                  <mat-option *ngFor="let idet of ListArea" [value]="idet.ls_codvalue" >
                                    {{idet.description}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Identificaci&oacute;n Jefe:</mat-label>
                                <input matInput formControlName="document_jf" type="number" (ngModelChange)="onSelectionJFChange($event)" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width ContCamp" >
                                <mat-label>Jefe Directo:</mat-label>
                                <mat-select formControlName="nombentreinc" required>
                                  <mat-option *ngFor="let idet of PersonaleInfo" [value]="idet.idPersonale">
                                    {{idet.name}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Ciudad:</mat-label>
                                <input matInput formControlName="ciudad" >
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Edad:</mat-label>
                                <input matInput formControlName="edad_tb" type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Salario:</mat-label>
                                <input matInput formControlName="salario" type="number" step="any">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-md-4">
                            <label>Documento de Soporte:</label>
                            <input formControlName="file_sp" class="form-control" type="file" (change)="seleccionarArchivo($event)">
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha Inicio:</mat-label>
                                <input matInput formControlName="fechainicausen" type="date" (ngModelChange)="onFechaIniChange($event)" required>
                            </mat-form-field>
                        </div>                      
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha Fin:</mat-label>
                                <input matInput formControlName="fechafinausen" type="date" (ngModelChange)="onFechaFinChange($event)" required>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 p-2">
                            <mat-form-field class="example-full-width">
                                <mat-label>¿Cuenta Con Soporte?:</mat-label>
                                <mat-select formControlName="soporte_nove"  required>
                                  <mat-option *ngFor="let idet of ListSiNo" [value]="idet.ls_codvalue" >
                                    {{idet.description}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width ContCamp">
                                <mat-label>No. De D&iacute;as:</mat-label>
                                <input matInput formControlName="numdiasincap" type="number" >
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Observación:</mat-label>
                                <textarea matInput formControlName="observacion_tb" placeholder=""></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4" *ngIf="view == 'update'" >
                            <label>Documentos de Soporte:</label>
                            <a href="{{archivo.nombre}}" target="_blank">Download</a>
                        </div>
                    </div>

                </form>

            </mat-dialog-content>
            <div mat-dialog-actions>
                <div class="text-center col-12">
                    <button *ngIf="view == 'update'" mat-button class="btn btn-success"
                        (click)="onSubmitUpdate()">Actualizar</button>

                    <button *ngIf="view == 'create'" mat-button class="btn btn-success"
                        (click)="onSubmi()">Guardar</button>

                    <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>
</div>


<div *ngIf="view == 'view'">
    <div class="modal-header button_header">
        <h5 class="modal-title">Información Detallada de la Novedad</h5>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <mat-dialog-content style="min-width: 500px;">
        <div class="row mt-2">
            <div class="col-md-3">
                <dt>Documento de Identificaci&oacute;n:</dt>
                <dd>{{dataNovNi.document_tr}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Nombre Completo:</dt>
                <dd>{{dataNovNi.idPersonale}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Fecha Ingreso:</dt>
                <dd>{{dataNovNi.fechainicausen}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Fecha Fin:</dt>
                <dd>{{dataNovNi.fechafinausen}}</dd>
            </div>

        </div>
        <div class="row mt-2">

            <div class="col-md-3">
                <dt>Documento Jefe Directo:</dt>
                <dd>{{dataNovNi.document_jf}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Jefe Directo</dt>
                <dd>{{dataNovNi.nombentreinc}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Ciudad:</dt>
                <dd>{{dataNovNi.ciudad}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Edad:</dt>
                <dd>{{dataNovNi.edad_tb}}</dd>
            </div>

        </div>

        <div class="row mt-2">

            <div class="col-md-3">
                <dt>Salario: </dt>
                <dd>{{ dataNovNi.salario| currency: 'USD'| lowercase }}</dd>
            </div>

            <div class="col-md-3">
                <dt>Tipo Gestion:</dt>
                <dd>{{dataNovNi.tipo_gestion}}</dd>
            </div>

            <div class="col-md-3">
                <dt>Documentos de Soporte:</dt>
                <dd><a href="{{dataNovNi.file_sp}}" target="_blank">Download</a></dd>
            </div>

            <div class="col-md-3">
                <dt>Area de Trabajo:</dt>
                <dd>{{dataNovNi.area}}</dd>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col-md-3">
                <dt>Estado Gestion:</dt>
                <dd>{{dataNovNi.estado_gs}}</dd>
            </div>
            <div class="col-md-3">
                <dt>No. De D&iacute;as:</dt>
                <dd>{{dataNovNi.numdiasincap}}</dd>
            </div>
            <div class="col-md-3">
                <dt>Cuenta Con Soporte:</dt>
                <dd>{{dataNovNi.soporte_nove}}</dd>
            </div>
            <div class="col-md-3">
                <dt>Observación:</dt>
                <dd>{{dataNovNi.observacion_tb}}</dd>
            </div>

        </div>

    </mat-dialog-content>
</div>