<div class="card mt-6">
  <div *ngIf="view == 'create' || view == 'update'">
    <div class="card-header">
      <h5 class="modal-title button_header">
        <p class="title-modal" *ngIf="view == 'create' ">{{title}}</p>
        <p class="title-modal" *ngIf="view == 'update'">{{title}}</p>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
          style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </h5>
    </div>
    <div class="card-body">
      <mat-dialog-content>
        <mat-accordion class="example-headers-align">
          <form form *ngIf="view == 'create' || view == 'update'" [formGroup]="formSelec">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Requisición de Personal &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>
                  Información Detallada
                </mat-panel-description>
                <mat-icon>work</mat-icon>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Cargo a Solicitar:</mat-label>
                    <mat-select formControlName="car_sol" (ngModelChange)="onSelectionAttributes($event)">
                      <mat-option *ngFor="let idet of position" [value]="idet.ls_codvalue" [disabled]="true">
                        {{idet.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4" *ngIf="matriz">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Matriz:</mat-label>
                    <mat-select formControlName="matrizarp" required>
                      <mat-option *ngFor="let idet of typeMatriz" [value]="idet.ls_codvalue" [disabled]="true">
                        {{idet.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Requisición:</mat-label>
                    <mat-select formControlName="tip_req" required>
                      <mat-option *ngFor="let idet of typeRequisition" [value]="idet.ls_codvalue" [disabled]="true">
                        {{idet.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Salario</mat-label>
                    <input matInput formControlName="salary" type="number" readonly>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Numero de Vacantes:</mat-label>
                    <input matInput formControlName="num_vac" type="number" readonly>
                  </mat-form-field>
                </div>
              </div>
              <mat-action-row>
                <button mat-button class="btn btn-dark" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Justificación de la Requisición&nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>
                  <!--{}-->
                </mat-panel-description>
                <mat-icon>description</mat-icon>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label> Justificación de la Requisición:</mat-label>
                    <textarea matInput formControlName="justification" placeholder="" [readonly]="true"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Observaciones y/o consideraciones especiales &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
                <mat-icon>assignment</mat-icon>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Observaciones:</mat-label>
                    <textarea matInput formControlName="observations" [readonly]="true"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep()">End</button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aprobaciones &nbsp; &nbsp;
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
                <mat-icon>thumbs_up_down</mat-icon>
              </mat-expansion-panel-header>
              <hr *ngIf="idUser != '255'">
              <div class="row" *ngIf="idUser != '255'">
                <!-- <div class="col-md-6">
                  <h6>maria</h6>
                    <mat-radio-group aria-label="Select an option" formControlName="aprobacion1" value="aprobacion1"
                      [disabled]="retro">
                      <mat-radio-button (click)="openDialog()" value="1">Aprobacion </mat-radio-button>
                      <mat-radio-button (click)="openDialogRe()" value="2">Rechazada</mat-radio-button>
                    </mat-radio-group>
                </div> -->
                <div class="col-md-12" *ngIf="requ == '62/3' || requ == '62/4'||requ == '62/5'">
                  <h6>Gerencia General</h6>
                  <p>Diego Fernado Lopez</p>
                  <mat-radio-group aria-label="Select an option" formControlName="aprobacion1" value="aprobacion1"
                    (ngModelChange)="openDialog($event)"
                    [disabled]="retro">

                    <mat-radio-button *ngFor="let idet of typeStateRq" [value]="idet.ls_codvalue">
                      {{idet.description}}</mat-radio-button>
                    <!-- <mat-radio-button (click)="openDialogRe()" value="2">Rechazada</mat-radio-button> -->
                  </mat-radio-group>
                </div>
              </div>
              <hr *ngIf="idUser != '255'">
              <div class="row mt-3" *ngIf="idUser != '255'">
                <!-- <div class="col-md-6">
                  <h6>D</h6>
                    <mat-radio-group aria-label="Select an option" formControlName="aprobacion2" value="aprobacion2"
                      [disabled]="retro2">
                      <mat-radio-button (click)="openDialog()" value="1">Aprobacion </mat-radio-button>
                      <mat-radio-button (click)="openDialogRe()" value="2">Rechazada</mat-radio-button>
                    </mat-radio-group>
                </div> -->
                <div class="col-md-12" *ngIf="requ == '62/3'|| requ == '62/4' || requ == '62/5'">
                  <h6>Gerencia Administrativa</h6>
                  <p>Maria Esmeralda</p>
                  <mat-radio-group aria-label="Select an option" formControlName="aprobacion2" value="aprobacion2"
                    (ngModelChange)="openDialog2($event)"
                    [disabled]="retro2">
                    <mat-radio-button *ngFor="let idet of typeStateRq" [value]="idet.ls_codvalue">
                      {{idet.description}}</mat-radio-button>
                    <!-- <mat-radio-button (click)="openDialogRe()" value="2">Rechazada</mat-radio-button> -->
                  </mat-radio-group>
                </div>
              </div>
              <hr *ngIf="idUser != '255'">
              <div class="row mt-3" *ngIf="idUser != '255'">
                <!-- <div class="col-md-6">
                  <h6>J</h6>
                    <mat-radio-group aria-label="Select an option" formControlName="aprobacion3" value="aprobacion3"
                      [disabled]="retro3">
                      <mat-radio-button (click)="openDialog()" value="1">Aprobacion </mat-radio-button>
                      <mat-radio-button (click)="openDialogRe()" value="2">Rechazada</mat-radio-button>
                    </mat-radio-group>
                </div> -->
                <div class="col-md-12" *ngIf="requ == '62/3'|| requ == '62/5'">
                  <h6>Talento Humano</h6>
                  <p>Juan Olaya</p>
                  <mat-radio-group aria-label="Select an option" formControlName="aprobacion3" value="aprobacion3"
                    (ngModelChange)="openDialog3($event)"
                    [disabled]="retro3">
                    <mat-radio-button *ngFor="let idet of typeStateRq" [value]="idet.ls_codvalue">
                      {{idet.description}}</mat-radio-button>
                    <!-- <mat-radio-button (click)="openDialogRe()" value="2">Rechazada</mat-radio-button> -->
                  </mat-radio-group>
                </div>
              </div>
              <!-- <hr *ngIf="idUser != '255'">
              <div class="row mt-3" *ngIf="idUser != '255'">
                <div class="col-md-12" *ngIf="requ == '62/4'">
                  <h6>Dirección o Jefe Area</h6>
                  <mat-radio-group aria-label="Select an option" formControlName="aprobacion3" value="aprobacion3"
                    [disabled]="retro4">
                    <mat-radio-button *ngFor="let idet of typeStateRq" [value]="idet.ls_codvalue">
                      {{idet.description}}</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div> -->
              <div class="row mt-3">
                <!-- <div class="col-md-6">
                  <h6>maria</h6>
                    <mat-radio-group aria-label="Select an option" formControlName="aprobacion1" value="aprobacion1"
                      [disabled]="retro">
                      <mat-radio-button (click)="openDialog()" value="1">Aprobacion </mat-radio-button>
                      <mat-radio-button (click)="openDialogRe()" value="2">Rechazada</mat-radio-button>
                    </mat-radio-group>
                </div> -->
               
              </div>
              <mat-action-row>
                <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
                <button mat-button class="btn btn-dark" (click)="nextStep()">End</button>
              </mat-action-row>
            </mat-expansion-panel>
          </form>
        </mat-accordion>
      </mat-dialog-content>
      <div mat-dialog-actions>
        <div class="text-center col-12">
          <button *ngIf="view == 'update'" mat-button class="btn btn-success"
            (click)="onSubmitUpdate()">Actualizar</button>
          <button *ngIf="view == 'create'" mat-button class="btn btn-success" (click)="onSubmit()">Guardar</button>
          <button mat-button class="btn btn-danger" (click)="closeDialog()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p>view</p> -->
<div class="card mt-6">
  <div *ngIf="view == 'view'">
    <div class="card-header">
      <h5 class="modal-title">
        <p class="title-modal" *ngIf="view == 'view'">Información Detallada</p>
        <button type="button" class="btn btn-primary btn-close" (click)="closeDialog()" aria-label="Close"
          style="position: absolute;left: 90%;top: 2%;font-size: 12px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </h5>
    </div>
    <div class="card-body">
      <mat-dialog-content>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Requisición de Personal &nbsp; &nbsp;
              </mat-panel-title>
              <mat-panel-description>
                Información Detallada
              </mat-panel-description>
              <mat-icon>work</mat-icon>
            </mat-expansion-panel-header>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>ID Requisición</dt>
                <dd>{{selection.idsel}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Fecha de Requisición</dt>
                <dd>{{selection.fec_req}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Tipo de Requisición</dt>
                <dd>{{selection.tip}}</dd>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Cargo a Solicitar</dt>
                <dd>{{selection.sol}}</dd>
              </div>
              <div class="col-md-4" *ngIf="typeCargo=='16/1'">
                <dt>Tipo Matriz</dt>
                <dd>{{selection.mat}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Salario</dt>
                <dd>{{selection.salary}}</dd>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Numero de Vacantes</dt>
                <dd>{{selection.num_vac}}</dd>
              </div>
              <div class="col-md-4">
                <dt>Estado Requisición</dt>
                <dd>{{selection.sta}}</dd>
              </div>
            </div>
            <mat-action-row>
              <button mat-button class="btn btn-dark mr-3" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step ===1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Justificación de la Requisición&nbsp; &nbsp;
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
              <mat-icon>description</mat-icon>
            </mat-expansion-panel-header>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Justificación de Requisición</dt>
                <dd>{{selection.justification}}</dd>
              </div>
            </div>
            <mat-action-row>
              <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
              <button mat-button class="btn btn-dark" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Observaciones y/o consideraciones especiales &nbsp; &nbsp;
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
              <mat-icon>assignment</mat-icon>
            </mat-expansion-panel-header>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Observaciones y/o consideraciones especiales </dt>
                <dd>{{selection.observations}}</dd>
              </div>
            </div>
            <mat-action-row>
              <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
              <button mat-button class="btn btn-dark" (click)="nextStep()">End</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Aprobaciones &nbsp; &nbsp;
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
              <mat-icon>thumbs_up_down</mat-icon>
            </mat-expansion-panel-header>
            <hr>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Diego Fernado Lopez </dt>
                <dd>{{selection.die}}</dd>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Maria Esmeralda </dt>
                <dd>{{selection.ma}}</dd>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <dt>Juan Olaya </dt>
                <dd>{{selection.ju}}</dd>
              </div>
            </div>
            <mat-action-row>
              <button mat-button class="btn btn-warning mr-3" (click)="prevStep()">Previous</button>
              <button mat-button class="btn btn-dark" (click)="nextStep()">End</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Histórico de Procesos:
              </div>
              <table mat-table [dataSource]="historyMon" style="width: 100%;" class="mat-elevation-z8 demo-table">
                <ng-container matColumnDef="currentm_user">
                  <th mat-header-cell *matHeaderCellDef class="p-3">Usuario:</th>
                  <td mat-cell *matCellDef="let element" class="p-3">{{element.currentm_user}}</td>
                </ng-container>

                <ng-container matColumnDef="type_move">
                  <th mat-header-cell *matHeaderCellDef class="p-3">Acción:</th>
                  <td mat-cell *matCellDef="let element" class="p-3">{{element.type_move}}</td>
                </ng-container>

                <ng-container matColumnDef="date_move">
                  <th mat-header-cell *matHeaderCellDef class="p-3">Fecha:</th>
                  <td mat-cell *matCellDef="let element" class="p-3">{{element.date_move | date: 'medium'}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>
            </div>
          </div>
        </div>
      </mat-dialog-content>
    </div>
  </div>
</div>